body {
  color: $bodytextcolor;
  background-color: rgba(0, 0, 0, 1); 
}

a {
  color: $black-color;
}

p > a {
  color: $grey-color;
}

blockquote {
  // color: $grey-color-3;
  border: 1px solid $white-color;
  // border-right-color: $primary-color;
}

.blockquote--pie blockquote {
  // color: $black-color;
}

.blockquote--pie {
  // color: $grey-color-2;
}

hr {
  background-color: $primary-color;
}

figure {
  figcaption {
    border-left: $size--1 solid $primary-color;
  }
}

.titlePage {
  color: $white-color;
}
.card {
  &Dark {
    color: $grey-color-2;
    background-color: $grey-color-4;
  }
  &Invert {
    color: $black-color;
    background-color: $white-color;
  }
}

// .blog {
//   blockquote {
//     color: $secondary-color;
//   }
// }

// Forms
input {
  background-color: $white-color-alpha-0;
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="submit"]:focus {
  background-color: $secondary-color;
}

::placeholder,
input[type="date"i] {
  color: $black-color;
}

input[type="submit"] {
  background-color: $grey-color-2;
}

input[type="submit"]:hover {
  background-color: $quaternary-color;
}

input:focus {
  outline: none;
}
input:focus-visible {
  outline: 1px dotted $black-color-alpha-0; /* That'll show 'em */
}
input:checked + .switch {
  color: $primary-color;
}

button {
  background-color: transparent;
  color: $grey-color-3;
  
  &:hover {
    color: $primary-color;
  }
}

.overlay {
  @media screen and (min-width: $bp1) {
    background-color: $black-color-alpha-1;
  }
}

.mainContent {
  background-color: $white-color;
}

.image-slide + small {
  color: $grey-color-1;
}

.franjapie {
  // color: $black-color;
  // background-color: $grey-color-1;
}

/* hambutton */
.hambutton {
  line {
    stroke: $white-color;
  }
}

.close:hover,
.close:focus {
  color: $secondary-color;
}

.close {
  color: $primary-color;
}

.previous,
.next {
  color: rgb(255 255 255 / 50%);
}

.previous:hover,
.next:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* TABS */
.tablink {
  background-color: $grey-color-3;
  color: $white-color;
}

.tablink:hover {
  background-color: $grey-color-3;
}

/* Tags */
.post-tag {
  color: $grey-color-3;
}

.sectionResaltadaClara {
  background-color: $secondary-color;
  color: $black-color;
}

.sectionResaltadaOscura {
  color: $bodytextcolor;
}

.post-tag:hover {
  color: $black-color;
}

.indicador-icono path {
  fill: $primary-color;
}

.social-links path,
.social-links circle {
  fill: $grey-color-4;
}

.social-links a:hover path {
  fill: $black-color;
}

/* Posts list */
.postlist {
  background-color: $grey-color-1;
}

.postlist-item {
  background-color: $grey-color-0;
}

.postlist-link {
  text-decoration-color: $secondary-color;

  a {
    color: $quaternary-color;
  }
}

.postlist-link:hover {
  color: $primary-color;
  text-decoration-color: $secondary-color;
}

.nav-posts {
  background-color: $primary-color;
}

.footer-site {
  color: $black-color;
  background-color: $grey-color-3;

  footer nav a {
    color: $grey-color-3;
  }

  footer nav a:hover {
    color: $grey-color-2;
  }
}

#gematriApp {
  svg {
    background-color: $white-color-alpha-0;
  }
  circle {
    fill: none;
  }
  .result {
    // fill: $primary-color;

    &--anim {
    }
  }

  line {
    stroke: $quaternary-color;
  }
  text {
  }
}

svg#mapabasediez {

  #cero, #uno, #dos, #tres, #cuatro {
    fill: $grey-color-2;
  }
  #cinco, #seis, #siete, #ocho, #nueve {
    fill: $grey-color-3;
  }
  #cero, #uno, #dos, #tres, #cuatro, #cinco, #seis, #siete, #ocho, #nueve {
    &:hover {
      fill: $secondary-color;
    }
  } 
  text {
    fill: $black-color;
  }

  + .descripcion p {
    background-color: $white-color-alpha-0;
  }

  #adicionales {
    stroke: $black-color;
  }
}

.modal {
  background-color: $black-color-alpha-2;
}

::selection {
  color: $black-color;
  background: $secondary-color;
}

/* Animacion svg en cover */

#grafica {
  background-color: $grey-color;
  
  path {
    fill: $primary-color;
  }
  
  text {
    fill: white;
  }
}

.highlight {
  color: $white-color;
  border: none;
}

// .highlight-line-isdir {
//   color: #b0b0b0;
//   background-color: #222;
// }

// .highlight-line-active {
//   background-color: #444;
//   background-color: hsla(0, 0%, 27%, .8);
// }

// .highlight-line-add {
//   background-color: $secondary-color;
// }

// .highlight-line-remove {
//   background-color: #902f2f;
// }


// #London {
//   background-color: $quaternary-color;
// }

// #Paris {
//   background-color: $tertiary-color;
// }

// #Tokyo {
//   background-color: $primary-color;
// }

// #Oslo {
//   background-color: $secondary-color;
// }