// DRAG
.container {
    position: relative;
    min-height: 100%;
    @media screen and (min-width: $ipad) {
        width: 100vw;
    }
}


[title~="covertitle"] {   
    // position: absolute; 
    grid-area: title;
    h1 {
        @media screen and (min-width: $ipad) {
            top: inherit;
            position: relative;
        }
        @media screen and (min-width: $desktop) {
            top: -5vh;
            left: 60vw;
            transform-origin: right;
            text-align: left;
            animation: intro;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            z-index: $tronco;
        }
    }
}

[title~="coverimg"] {
    z-index: $raiz;
    grid-area: img;
    img {
        // object-fit: cover;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    @media screen and (min-width: $ipad) {
        // transform: perspective(550px) rotateY(-40deg);
    }
    
    @media screen and (min-width: $desktop) {
        position: absolute;
        transform-origin: left;
        transform: scale(1.5) perspective(50vh) rotateY(30deg);
        top: 0;
        left: 0%;
        img {
            // width: 50%;
            border-top-left-radius: 50%;
            // border-bottom-right-radius: 50%;
        }
    }
}

[title~="sintesis"] {
    grid-area: subtitle;
    
    @media screen and (min-width: $desktop) {
        position: absolute;
        top: 74vh;
        right: 7vw;
        margin-bottom: $size-7;
        max-width: 25vw;
        h2 {
            transform-origin: right;
            transform: scale(1.9) perspective(50vh) rotateY(-30deg);
            text-align: right;
        }
        // transform: translateX(9vw) translateY(-9vw) scale(1.8) perspective(100vw) rotateY(50deg);
    }
}