// DRAG
.container {
    position: relative;
    min-height: 100%;
    @media screen and (min-width: $ipad) {
        width: 100vw;
    }
}


[title~="covertitle"] {   
    grid-area: title;

    h1 {
        @media screen and (min-width: $ipad) {
            top: inherit;
            position: relative;
        }
        @media screen and (min-width: $desktop) {
            mix-blend-mode: screen;
            max-width: 80vw;
            top: 6vw;
            left: 0;
            transform-origin: center;
            animation: intro;
            animation-delay: .5s;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            z-index: $tronco;
        }
    }
}

[title~="coverimg"] {
    grid-area: img;
    width: 100vw;
    min-height: 40vh;
    z-index: $raiz;
    // border-top-right-radius: 37vw;
    @media screen and (min-width: $ipad) {
        width: 94vw;
    }
    @media screen and (min-width: $desktop) {
        min-height: 96.5vh;
        position: absolute;
        top: $size-3;
        left: $size-3;
        animation: introimg;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

[title~="sintesis"] {
    grid-area: subtitle;
    z-index: $tronco;
    @media screen and (min-width: $desktop) {
        mix-blend-mode: difference;
        max-width: 30vw;
    }
    // h2 {
    //     @media screen and (min-width: $desktop) {
    //         // top: 4vw;
    //         // left: 0;
    //         // transform-origin: center;
    //         // animation: intro;
    //         // animation-delay: .5s;
    //         // animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    //         // animation-duration: 2s;
    //         // animation-iteration-count: 1;
    //         // animation-fill-mode: forwards;
    //     }
    // }
}