.titlePage {
  z-index: $raiz;
}

#metodosvg {
  z-index: $ramas;
}

/* hambutton */
.hambutton {
  z-index: $tronco;
}

/* Nav */
.nav {
  @media screen and (min-width: $bp3) {
    z-index: $ramas;
  }
}

// gsapanim
svg#scrollanim {
  z-index: $raiz;
}

#gematriApp {
  text {
    z-index: $tronco;
  }
}

/* LOGO */
.logo {
  z-index: $tronco;
}

.modal {
  z-index: $raiz;
}

.close {
  z-index: $raiz;
}

// model-viewer {
//   z-index: auto;
// }

/* JS - Deshabilita touch en mobil */
.deshabilitar {
  z-index: $ramas;
}
