
.navContainer {
  display: flex;
  // background-color: red;
  position: fixed;
  flex-direction: row-reverse;
  z-index: $cielo;
  width: 100vw;
  flex-flow: row-reverse;
  justify-content: space-between;

  padding-top: $size-3;
  padding-left: $size-3;
  
  @media screen and (min-width: $ipad) {
    padding-top: $size-3;
    padding-left: $size-3;
  }
  
}


.mainNav {  
  @media screen and (min-width: $desktop) {
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    // padding-top: $size-4;
    // padding-left: $size-4;
    z-index: 9;
  }
}

.brand {
  margin-right: $size-3;
  mix-blend-mode: multiply;
}

/* SIDE NAV */
.sidenav {
  display: inherit;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: $grey-color-4;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: $size-5;

  li {
    list-style: none;
    text-align: center;
  }

  a {
    padding: $size-2 $size-1;
    text-decoration: none;
    font-size: $size-2;
    font-weight: $medium;
    color: $white-color;
    display: block;
    transition: 0.3s;
    mix-blend-mode: difference;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: $size-1;
    font-size: $size-3;
  }
}

/* Nav */
.nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: $size-3;

  li {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
    background-color: $white-color-alpha-1;
    padding: $size-0 $size-1;
  }
  a:hover {
    color: $black-color;
    background-color: $white-color;
  }
  @media screen and (min-width: $ipad) {
    display: grid;
    // gap: $size-1;
    grid-auto-flow: column;
  }
  @media screen and (min-width: $desktop) {
    // display: flex;
  }
}

.nav-item-active a {
  color: $grey-color-2;
  background-color: $black-color;
}

.logo2 {
  min-width: 60px;
  @media screen and (min-width: $desktop) {
    transition: transform 1s;
    width: $size-5;
    top: $size-3;
    right: $size-3;
  }

  // circle {
  //   stroke: $black-color;
  //   stroke-width: 3px;
  //   fill: none;
  // }

  // text {
  //   fill: none;
  //   stroke: $black-color;
  //   stroke-width: 6px;
  // }

  path {
    fill: none;
    stroke: $black-color;
    stroke-width: 4.17px
  }
  .numeros {
    stroke: none;
    fill: $black-color;
    
  }

  &:hover {
    transform: rotate(360deg) scale(1.1);
    transition: transform .8s;
  }
}

/* hambutton */
// .hambutton {
//   display: block;
//   display: none;
//   position: fixed;
//   top: $size-1;
//   left: 85vw;
//   width: $size-3;
//   mix-blend-mode: difference;

//   &:hover {
//     cursor: pointer;
//   }

//   line {
//     stroke-width: 4px;
//   }

//   @media screen and (min-width: $bp3) {
//     display: none;
//   }
// }
