.mainNav {
  position: fixed;
  padding-top: $size-2;
  padding-left: $size-5;
  
  @media screen and (min-width: $ipad) {
    padding-top: $size-3;
    padding-left: $size-3;
  }
  @media screen and (min-width: $desktop) {
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    padding-top: $size-4;
    padding-left: $size-4;
    z-index: 9;
  }
}


/* SIDE NAV */
.sidenav {
  display: inherit;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: $grey-color-4;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: $size-5;

  li {
    list-style: none;
    text-align: center;
  }

  a {
    padding: $size-2 $size-1;
    text-decoration: none;
    font-size: $size-2;
    font-weight: $medium;
    color: $white-color;
    display: block;
    transition: 0.3s;
    mix-blend-mode: difference;
  }
  
  .closebtn {
    position: absolute;
    top: 0;
    right: $size-1;
    font-size: $size-3;
  }
}

/* Nav */
.nav {
  display: grid;
  // gap: $size-1;
  grid-auto-flow: column;
  // margin-top: $size-3;
  // margin-left: $size-3;
  li {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
    background-color: $white-color-alpha-1;
    padding: $size-0 $size-1;
  }
  a:hover {
    color: $black-color;
    background-color: $white-color;
  }
  @media screen and (min-width: $desktop) {
    // display: flex;
  }
}

.nav-item-active a {
  color: $grey-color-2;
  background-color: $black-color;
}

/* hambutton */
// .hambutton {
//   display: block;
//   display: none;
//   position: fixed;
//   top: $size-1;
//   left: 85vw;
//   width: $size-3;
//   mix-blend-mode: difference;

//   &:hover {
//     cursor: pointer;
//   }

//   line {
//     stroke-width: 4px;
//   }

//   @media screen and (min-width: $bp3) {
//     display: none;
//   }
// }
