
.navContainer {
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  z-index: $cielo;
  width: 100vw;
  flex-flow: row-reverse;
  justify-content: space-between;

  padding-top: $size-3;
  padding-left: $size-3;
  
  @media screen and (min-width: $ipad) {
    padding-top: $size-3;
    padding-left: $size-3;
  }
  
}


.mainNav {  

  @media screen and (min-width: $desktop) {
    position: relative; /* Para aplicar transición */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 9;
  }
}

.brand {
  margin-right: $size-3;
  mix-blend-mode: multiply;
}

/* Nav */
.nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: $size-3;

  li {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
    background-color: $white-color-alpha-1;
    padding: 7px 10px;

    @media screen and (min-width: $ipad) {
      padding: $size-0 $size-1;
    }
  }
  a:hover {
    color: $black-color;
    background-color: $white-color;
  }

  @media screen and (min-width: $ipad) {
    display: grid;
    grid-auto-flow: column;
  }
}

.nav-item-active a {
  color: $grey-color-2;
  background-color: $black-color;
}

.logo2 {
  min-width: 60px;
  @media screen and (min-width: $desktop) {
    transition: transform 1s;
    width: $size-5;
    top: $size-3;
    right: $size-3;
  }

  path {
    fill: none;
    stroke: $black-color;
    stroke-width: 4.17px
  }
  .numeros {
    stroke: none;
    fill: $black-color;
  }

  &:hover {
    transform: rotate(360deg) scale(1.1);
    transition: transform .8s;
  }
}