// /* LOADER */

.fade-page-off {
    opacity: 0.2;
  }
  
  .fade-page-off.fade-page-on {
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  #preloader {
    padding: $size-2;
    animation: parpadeo 2s linear 1;
    opacity: 0; //poner en 1 para debugear
  }

// imagen animacion
.animintro {
  width: 50vw;
  circle {
    stroke: white;
    stroke-width: 10px;
    fill: none;
  }
}
