.slider--container {
    display: grid;
    grid-template-areas: 
    "slides slides"
    "prev next";
    // gap: $size-1;
    
    // @media screen and (min-width: $ipad) {
    //     justify-items: center;
    // }
    // @media screen and (min-width: $desktop) {
    //     justify-content: center;
    // }
    .next {
        grid-area: next;
        place-self: start;
    }
    .prev{
        grid-area: prev;
        place-self: end;
        align-self: start;
    }
    
    div {
        grid-area: slides;
        @media screen and (min-width: $ipad) {
            width: 100%;
            // width: max-content;
        }
    }
}