.slider--container {
    margin-left: $size-1;
    margin-right: $size-1;
    display: grid;
    grid-template-areas: 
        "slides slides"
        "prev next"
        ;
    align-items: center;

    @media screen and (min-width: $ipad) {
        grid-template-columns: .1fr 10fr .1fr;
        grid-template-areas: "prev slides next";
        margin-left: 0;
        margin-right: 0;
        margin-top: $size-0;
        margin-bottom: $size-0;
    }
    @media screen and (min-width: $desktop) {
    }

    div {
        grid-area: slides;
        @media screen and (min-width: $desktop) {
            // width: max-content;
        }
    }
    &:nth-last-child(1) {
        grid-area: next;
        align-self: end;
    }
    &:nth-last-child(2) {
        grid-area: prev;
        align-self: start;
    }
}