#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
@import "_variables.scss";
@import "_reset.scss";
@import "_prism.scss";
@import "_colors.scss";
@import "_spacing.scss";
@import "_layers.scss";
@import "_typography.scss";
@import "_animations.scss";
@import "_buttons.scss";
@import "_preloader.scss";
@import "_grid.scss";
@import "_raw.scss";
@import "_nav.scss";
@import "_helpers.scss";
@import "_slider.scss";