a(href="./")
  svg.home.logo(viewbox='0 0 50 50' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;')
    g(transform='matrix(1,0,0,1,-7038.78,-3575.07)')
      g(transform='matrix(2.31957,0,0,8.13184,6809.14,4290.68)')
        g(transform='matrix(-0.00934308,9.14275e-19,-3.89347e-18,-0.00266507,1072.01,-47.7779)')
          circle(cx='102436' cy='13938.8' r='553.055' style='fill:none;stroke:black;stroke-width:46.14px;')
        g(transform='matrix(0.00934308,5.95632e-19,-1.39988e-18,0.00266507,-852.468,-122.073)')
          circle(cx='102436' cy='13938.8' r='553.055' style='fill:none;stroke:black;stroke-width:46.14px;')
        g(transform='matrix(0.00467403,2.97975e-19,-7.00316e-19,0.00133325,-361.277,-103.509)')
          circle(cx='102436' cy='13938.8' r='553.055' style='fill:rgb(43,196,169);stroke:black;stroke-width:92.24px;')
        g(transform='matrix(0.00467403,2.97975e-19,-7.00316e-19,0.00133325,-366.447,-103.509)')
          circle(cx='102436' cy='13938.8' r='553.055' style='fill:rgb(255,104,116);stroke:black;stroke-width:92.24px;')
        g(transform='matrix(0.00467403,2.97975e-19,-7.00316e-19,0.00133325,-371.617,-103.509)')
          circle(cx='102436' cy='13938.8' r='553.055' style='fill:rgb(159,159,255);stroke:black;stroke-width:92.24px;')
        g(transform='matrix(0.00467403,2.97975e-19,-7.00316e-19,0.00133325,-376.787,-103.509)')
          circle(cx='102436' cy='13938.8' r='553.055' style='fill:rgb(255,255,159);stroke:black;stroke-width:92.24px;')
        g(transform='matrix(0.00934308,-1.49744e-19,-2.35669e-20,0.00266507,-847.292,-122.073)')
          circle(cx='102436' cy='13938.8' r='553.055' style='fill:none;stroke:black;stroke-width:46.14px;')
        g(transform='matrix(0.00934308,-1.49744e-19,-2.35669e-20,0.00266507,-842.125,-122.073)')
          circle(cx='102436' cy='13938.8' r='553.055' style='fill:none;stroke:black;stroke-width:46.14px;')
        g(transform='matrix(0.0194878,-3.12336e-19,-4.9156e-20,0.00555882,-1886.48,-162.409)')
          path(d='M102436,13385.7C102741,13385.7 102989,13633.5 102989,13938.8C102989,14244 102741,14491.8 102436,14491.8C102131,14491.8 101883,14244 101883,13938.8C101883,13633.5 102131,13385.7 102436,13385.7ZM102436,13407.8C102729,13407.8 102967,13645.7 102967,13938.8C102967,14231.8 102729,14469.7 102436,14469.7C102143,14469.7 101905,14231.8 101905,13938.8C101905,13645.7 102143,13407.8 102436,13407.8Z')
