section.section--cover.bgImg(style="background-image: url('./img/bg14.jpg');")
  h1.titlePage--home.
    descifrar la Creación <br> para encontrArte <span id="typewritter">desde cero</span>
  //- #animcover
  //- #my_dataviz.my_dataviz
