section.section--cover.bgImg(style="background-image: url('./img/bg3.jpg');")
  h1.titlePage--home.
    Descifrar La Creación <br> para encontrArte <span id="typewritter"></span>
  //- #animcover
  //- #my_dataviz.my_dataviz
