section.section
  img(src='./img/1234.svg' alt='')

section.section.sectionResaltadaClara.grid

  img(src='./img/435682.svg' alt='')
  .grid__item
    
    h4 EncontrArte en el Vacío
    
    p.
      Talleres online desde una perspectiva Multidimensional Transdisciplinar y Holística. (para artistas, creativos, diseñadores...)

    h4.
      Experimentar la lógica escondida tras la Creación
    
    p.
      Para materializar que nuestro propósito no puede ser más original

    li.
      Mi proyecto sirve para reconocer la forma de este instante y verle la lógica. 
    li.
      Exploro <b>la visualización de datos</b> como formas de representar, descifrar y mapear la <b>Matriz lógica universal</b> como el código de la Creación, que parte de 4 dimensiones elementales, representadas esencialmente en <em>0·1·2·3·4</em> y desplegadas como <em>0·1·2·3·4·5·6·7·8·9</em>. <br>
    li.
      Me interesa el proceso de lo abstracto cristalizando en la forma y cómo la totalidad de la existencia se materializa de una manera coherente.
