section.section.grid
  img(src='./img/1234.svg' alt='')
  p GematriApp <br> Aplicación para descifrar el código de la Creación
  a.btn--white.btn--default.btn-telegram.m-2(href='https://t.me/sergiofores' target='_blank') telegram ↗
  //- dl
  //-   dt EncontrArte en el Vacío
  //-   dd.
  //-     Talleres online desde una perspectiva Multidimensional Transdisciplinar y Holística. (para artistas, creativos, diseñadores...)

  //-   dt Experimentar la lógica escondida tras la Creación
  //-   dd.
  //-     Para materializar que nuestro propósito no puede ser más original

  //-   dt.
  //-     Mi proyecto sirve para reconocer la forma de este instante y verle la lógica. 
  //-   dd.
  //-     Exploro <b>la visualización de datos</b> como formas de representar, descifrar y mapear la <b>Matriz lógica universal</b> como el código de la Creación, que parte de 4 dimensiones elementales, representadas esencialmente en <em>0·1·2·3·4</em> y desplegadas como <em>0·1·2·3·4·5·6·7·8·9</em>. <br>
