footer.footer-site.section

  .footer-site__item
    header
      h3 Cuenta conmigo!

    main
      p.
        Si quieres implicarte en tu proceso  de Creación de manera holística y profunda, si quieres usar tu momento Cero que te bloquea para propulsarte a una percepción más madura y coherente con el todo.
        Y cuenta con mis obras si quieres rodearte de un tipo de arte consciente que te conecta con el sentido de la existencia.

    .contact-me
      a.btn--default.btn--black.m-2(href='https://api.whatsapp.com/send?phone=+34619549032' target='_blank') whatsApp
      a.btn--default.btn--black.btn--primary.m-2(href='https://t.me/sergiofores' target='_blank') telegram

.franjapie
  .followme
    p Sígueme en éstas redes:
      include sociallinks
  p.subTitle Este sitio web es un prototipo evolutivo y está siendo desarrollado artesanalmente con mucho amor usando estándares web.
