footer.footer-site.section

  .footer-site__item
    header
      h3 Cuenta conmigo!

    main
      p.
        Si quieres implicarte en tu proceso  de Creación de manera holística y profunda, si quieres usar tu momento Cero que te bloquea para propulsarte a una percepción más madura y coherente...

    .contact-me
      a.btn--default.m-2(href='https://api.whatsapp.com/send?phone=+34619549032' target='_blank') WhatsApp &nearr;
      a.btn-telegram.m-2(href='https://t.me/sergiofores' target='_blank') Telegram &nearr;

.franjapie
  .followme
    p Sígueme en éstas redes:
      include sociallinks
  small.subTitle Un Método Neutro Universal
