- const baseUrl = "./assets/img/"
- const creditossitio = "Sergio Forés - Honor y Gratitud"
-
    const sitenav = [
        { 
            name: "Cuento", 
            url: "/"
        },
        { 
            name: "Vision", 
            url: "/vision.html"
        },
        { 
            name: "obra", 
            url: "/obra.html"
        },
        { 
            name: "lab", 
            url: "/lab.html"
        },
        { 
            name: "DEV", 
            url: "/dev.html"
        }
    ]
-
    const config = [ 
        "sentir", 
        "pensar", 
        "hacer" 
    ];
-
    const page1 = { 
        titulo: "Cuento Creación",
        subtitulo: "01234 ya! Despertando Ser/Humano",
        sentir: "La forma de mis obras son vehículos para que la luz se pueda manifestar.",
        pensar: "Esto es lo que hay en la llave pensar",
        vision1: [ 
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo",
            "Vibro el acceso directo a mi verdad",
            "Bajando claridad en el decir de mi ser-humano.",
            "La forma de mis obras son vehículos para que la luz se pueda manifestar."
        ],
        vision2: [ 
            "Cuento desde mi experiencia",
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber"
        ],
        vision3: [ 
            "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo"
        ],
        vision4: [ 
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        vision5: [ 
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        proceso1: [
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        proceso2: [
            "Potencial",
            "Emanación",
            "Creación",
            "Formación",
            "Acción"
        ],
        percepcion: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        plastica: [ 
            "bg2.jpg",
            "detalle2.jpg",
            "bg16.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obras-preview/img2.jpg",
            "obra10.jpg",
            "obras-preview/img3.jpg",
            "obra1.jpg",
            "obras-preview/img4.jpg",
            "th-img4.jpg",
            "obras-preview/img5.jpg",
            "obras-preview/img6.jpg",
            "obras-preview/img7.jpg",
            "obras-preview/img8.jpg",
            "obras-preview/img9.jpg"
        ],
        sobremi: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const page_vision = { 
        titulo: "Clarifico verdad",
        subtitulo: "01234 ya! Despertando Ser/Humano",
        sentir: "La forma de mis obras son vehículos para que la luz se pueda manifestar.",
        pensar: "Esto es lo que hay en la llave pensar",
        vision1: [ 
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo",
            "Vibro el acceso directo a mi verdad",
            "Bajando claridad en el decir de mi ser-humano.",
            "La forma de mis obras son vehículos para que la luz se pueda manifestar."
        ],
        vision2: [ 
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber"
        ],
        vision3: [ 
            "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo"
        ],
        vision4: [ 
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        vision5: [ 
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        proceso1: [
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        proceso2: [
            "Potencial",
            "Emanación",
            "Creación",
            "Formación",
            "Acción"
        ],
        percepcion: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        plastica: [ 
            "ondas5.jpg",
            "detalle2.jpg"
        ],
        sobremi: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const page_obra = { 
        titulo: "Cumplo mi forma",
        subtitulo: "01234 ya! Despertando Ser/Humano",
        sentir: "La forma de mis obras son vehículos para que la luz se pueda manifestar.",
        pensar: "Esto es lo que hay en la llave pensar",
        vision1: [ 
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo",
            "Vibro el acceso directo a mi verdad",
            "Bajando claridad en el decir de mi ser-humano.",
            "La forma de mis obras son vehículos para que la luz se pueda manifestar."
        ],
        vision2: [ 
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber"
        ],
        vision3: [ 
            "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo"
        ],
        vision4: [ 
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        vision5: [ 
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        proceso1: [
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        proceso2: [
            "Potencial",
            "Emanación",
            "Creación",
            "Formación",
            "Acción"
        ],
        percepcion: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        plastica: [ 
            "bg2.jpg",
            "detalle2.jpg",
            "bg16.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obras-preview/img2.jpg",
            "obra10.jpg",
            "obras-preview/img3.jpg",
            "obra1.jpg",
            "obras-preview/img4.jpg",
            "th-img4.jpg",
            "obras-preview/img5.jpg",
            "obras-preview/img6.jpg",
            "obras-preview/img7.jpg",
            "obras-preview/img8.jpg",
            "obras-preview/img9.jpg"
        ],
        sobremi: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const page_lab = { 
        titulo: "Me afino al errar",
        subtitulo: "Me expando en el ambiente y me veo",
        sentir: "La forma de mis obras son vehículos para que la luz se pueda manifestar.",
        pensar: "Esto es lo que hay en la llave pensar",
        vision1: [ 
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo",
            "Vibro el acceso directo a mi verdad",
            "Bajando claridad en el decir de mi ser-humano.",
            "La forma de mis obras son vehículos para que la luz se pueda manifestar."
        ],
        vision2: [ 
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber"
        ],
        vision3: [ 
            "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo"
        ],
        vision4: [ 
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        vision5: [ 
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        proceso1: [
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        proceso2: [
            "Potencial",
            "Emanación",
            "Creación",
            "Formación",
            "Acción"
        ],
        percepcion: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        plastica: [ 
            "bg2.jpg",
            "detalle2.jpg",
            "bg16.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obras-preview/img2.jpg",
            "obra10.jpg",
            "obras-preview/img3.jpg",
            "obra1.jpg",
            "obras-preview/img4.jpg",
            "th-img4.jpg",
            "obras-preview/img5.jpg",
            "obras-preview/img6.jpg",
            "obras-preview/img7.jpg",
            "obras-preview/img8.jpg",
            "obras-preview/img9.jpg"
        ],
        sobremi: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const page_dev = { 
        titulo: "Transito novedad",
        subtitulo: "Desarrollando en co-herencia creativa",
        headings: {
            h1: "Prototipos evolutivos puros"
        },
        bloque1: [
            "Los cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo",
            "Vibro el acceso directo a mi verdad",
            "Bajando claridad en el decir de mi ser-humano.",
            "La forma de mis obras son vehículos para que la luz se pueda manifestar."
        ],
        bloque2: [ 
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber"
        ],
        bloque3: [ 
            "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo"
        ],
        bloque4: [ 
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        bloque5: [ 
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        proceso1: [
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        proceso2: [
            "Potencial",
            "Emanación",
            "Creación",
            "Formación",
            "Acción"
        ],
        percepcion: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        plastica: [ 
            "bg2.jpg",
            "detalle2.jpg",
            "bg16.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obras-preview/img2.jpg",
            "obra10.jpg",
            "obras-preview/img3.jpg",
            "obra1.jpg",
            "obras-preview/img4.jpg",
            "th-img4.jpg",
            "obras-preview/img5.jpg",
            "obras-preview/img6.jpg",
            "obras-preview/img7.jpg",
            "obras-preview/img8.jpg",
            "obras-preview/img9.jpg"
        ],
        sobremi: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const data = { 
        titulo: "Cuento Creación",
        subtitulo: "01234 ya! Despertando Ser/Humano",
        sentir: "La forma de mis obras son vehículos para que la luz se pueda manifestar.",
        pensar: "Esto es lo que hay en la llave pensar",
        vision1: [ 
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo",
            "Vibro el acceso directo a mi verdad",
            "Bajando claridad en el decir de mi ser-humano.",
            "La forma de mis obras son vehículos para que la luz se pueda manifestar."
        ],
        vision2: [ 
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber"
        ],
        vision3: [ 
            "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo"
        ],
        vision4: [ 
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        vision5: [ 
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        proceso1: [
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        proceso2: [
            "Potencial",
            "Emanación",
            "Creación",
            "Formación",
            "Acción"
        ],
        percepcion: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        plastica: [ 
            "bg2.jpg",
            "detalle2.jpg",
            "bg16.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obras-preview/img2.jpg",
            "obra10.jpg",
            "obras-preview/img3.jpg",
            "obra1.jpg",
            "obras-preview/img4.jpg",
            "th-img4.jpg",
            "obras-preview/img5.jpg",
            "obras-preview/img6.jpg",
            "obras-preview/img7.jpg",
            "obras-preview/img8.jpg",
            "obras-preview/img9.jpg"
        ],
        sobremi: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };