- const baseUrl = "./assets/img/"
- const creditossitio = "Sergio Forés - Honor y Gratitud"
-
    const sitenav = [
        { 
            name: "Cuento", 
            url: "/"
        },
        { 
            name: "Visión", 
            url: "/vision.html"
        },
        { 
            name: "Obra", 
            url: "/obra.html"
        },
        { 
            name: "LAB", 
            url: "/lab.html"
        },
        { 
            name: "DEV", 
            url: "/dev.html"
        }
    ]
-
    const config = [ 
        "sentir", 
        "pensar", 
        "hacer" 
    ];
-
    const page_obra = { 
        titulo: "Vibración cristalizada",
        subtitulo: "Deteniendo mi verdad para completarme",
        headings: [
            "Las formas son vehículos para la luz",
            "Descifrar Creación desde Cero",
            "Alumno eterno nuevo",
            "Somos vibración cristalizando el Ser",
            "Abro mi verdad llegando a mí",
            "Percibo en  0,1,2,3 y 4",
            "Cumplo lo que Es",
            "Todo ya funciona",
            "Brindo la bitácora de  andar en mi verdad",
            "Todo ya es aqui, obvio",
            "Lleg-Ando en verdad, la GRACIA está en el evento pronunciado y producido por ella misma."
        ],
        frases1: [ 
            "La forma de mis obras son vehículos para que la luz se pueda reflejar.",
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber",
            "Las letras hebreas me permiten expandir mi comprensión",
            "El huerto de simplemente existir"
        ],
        frases2: [ 
            "Vibro el acceso directo a mi verdad",
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo"
        ],
        frases3: [ 
            "Bajando claridad en el decir de mi ser-humano.",
            "Incorporo el aprendizaje contínuo de no saber",
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        frases4: [ 
           "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo",
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        frases5: [ 
            "Corrientes de formas",
            "Coagulando la naturaleza dinámica de la realidad",
            "Fotogramas en el tiempo que puedo tocar"
        ],
        frases6: [ 
            "Una obra, un proceso",
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        frases7: [ 
            "Dándome cuenta de mí.",
            "Afinando claridad",
            "Honor y gratitud por lo andado hasta aquí",
            "Dejo de girar y avanzo"
        ],
        galeria2: [ 
            "coverobra.jpg",
            "img3.jpg",
            "bg9.jpg",
            "obra1.jpg",
            "obra2.jpg",
            "obra3.jpg",
            "bg1.jpg",
            "detalle2.jpg",
            "bg15.jpg",
            "img4.jpg",
            "pieza.jpg",
            "obra10.jpg"
        ],
        galeria1: [ 
            "obra4.jpg",
            "obra5.jpg",
            "dibujo.jpg",
            "dibujo2.jpg",
            "th-img4.jpg"
        ],
        galeria3: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const page_lab = { 
        titulo: "Transito novedad",
        subtitulo: "Me expando en el ambiente y me veo",
        headings: [
            "Me declaro no sabedor y me descubro",
            "Alumno eterno nuevo",
            "Un solo proceso Universal",
            "Abro mi verdad llegando a mí",
            "Percibo en  0,1,2,3 y 4",
            "Me doy  cuenta de mí",
            "La experiencia es verdad directa e irrefutable.",
            "Me planto en mi verdad",
            "Soy el ser siendo",
            "Me doy cuenta ...del fractal que lo vincula todo y ahora paso a paso integro coherencia en mi caminar.",
            "Brindo la bitácora de  andar en mi verdad",
            "Todo ya es aqui, obvio",
            "Lleg-Ando en verdad, la GRACIA está en el evento pronunciado y producido por ella misma."
        ],
        frases1: [ 
            "La forma de mis obras son vehículos para que la luz se pueda reflejar.",
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber",
            "Las letras hebreas me permiten expandir mi comprensión",
            "El huerto de simplemente existir"
        ],
        frases2: [ 
            "Vibro el acceso directo a mi verdad",
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo"
        ],
        frases3: [ 
            "Bajando claridad en el decir de mi ser-humano.",
            "Incorporo el aprendizaje contínuo de no saber",
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        frases4: [ 
            "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo",
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        frases5: [ 
            "Potencial - Emanación - Creación - Formación - Acción",
            "Observo un territorio holístico de creación en el que cristaliza todo lo que soy en esta antena humana que no para de resonar y vibrar.",
            "Cuento todo el rato para darme cuenta y expandirlo. La información ocurriendo completamente. Somos respuesta."
        ],
        frases6: [ 
            "Ya no más intermediarios. Mi verdad está en mí, ya Es.",
            "Gratitud por todo lo que me trajo hasta este momento",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Lo que soy empujando para ser humano"
        ],
        frases7: [ 
            "Dándome cuenta de mí.",
            "Afinando claridad",
            "Honor y gratitud por lo andado hasta aquí",
            "Dejo de girar y avanzo"
        ],
        galeria2: [ 
            "grafico6.svg",
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        galeria1: [ 
            "bg16.jpg",
            "bg2.jpg",
            "obra10.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obra10.jpg",
            "obra1.jpg",
            "th-img4.jpg"
        ],
        galeria3: [
            "detalle1.jpg",
            "sergiofores.jpg",
            "img1.jpg"
        ]
    };
-
    const page_dev = { 
        titulo: "Refinando des-cifrar",
        subtitulo: "Formo parte de la Creación",
        headings: [
            "Me descifro desde cero",
            "Somos lenguaje, somos respuesta",
            "Hay un solo proceso Universal",
            "Abro mi verdad llegando a mí",
            "Percibo en  0,1,2,3 y 4",
            "Me doy  cuenta de mí",
            "Soy en un proto-tipo humano",
            "Me planto en mi verdad",
            "Soy el ser siendo",
            "Me doy cuenta ...del fractal que lo vincula todo y ahora paso a paso integro coherencia en mi caminar.",
            "Brindo la bitácora de  andar en mi verdad",
            "Todo ya es aqui, obvio",
            "Lleg-Ando en verdad, la GRACIA está en el evento pronunciado y producido por ella misma."
        ],
        frases1: [ 
            "Implicación. No hay tiempo para explicaciones",
            "Confianza. Incorporo el aprendizaje y la mejora contínua en el no saber",
            "La esencia del símbolo es unión y todo es símbolo"
        ],
        frases2: [ 
            "Vibro el acceso directo a mi verdad",
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo"
        ],
        frases3: [ 
            "Bajando claridad en el decir de mi ser-humano.",
            "Incorporo el aprendizaje contínuo de no saber",
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        frases4: [ 
           "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo",
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        frases5: [ 
            "Potencial - Emanación - Creación - Formación - Acción",
            "Observo un territorio holístico de creación en el que cristaliza todo lo que soy en esta antena humana que no para de resonar y vibrar.",
            "Cuento todo el rato para darme cuenta y expandirlo. La información ocurriendo completamente. Somos respuesta."
        ],
        frases6: [ 
           "Una obra, un proceso",
           "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Hacia un Prototipado Holístico Evolutivo"
        ],
        frases7: [ 
           "Dándome cuenta de mí.",
            "Afinando claridad",
            "Honor y gratitud por lo andado hasta aquí",
            "Dejo de girar y avanzo"
        ],
        galeria2: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        galeria1: [ 
            "detalle3.jpg",
            "obra10.jpg",
            "bg2.jpg",
            "bg16.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "ondas5.jpg",
            "pieza.jpg",
            "bg7.jpg",
            "bg10.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obra10.jpg",
            "obra1.jpg",
            "th-img4.jpg",
        ],
        galeria3: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const page_vision = { 
        titulo: "Clarificando mi verdad",
        subtitulo: "Desarrollando Creación en coherencia",
        headings: [
            "מחשבת הבריאה",
            "Alumno eterno nuevo",
            "Un solo proceso Universal",
            "Abro mi verdad llegando a mí",
            "Me doy cuenta de 0 1 2 3 4",
            "Yo cuento en mi transitar",
            "Me planto en mi verdad",
            "Soy el ser siendo",
            "Me doy cuenta ...del fractal que lo vincula todo y ahora paso a paso integro coherencia en mi caminar.",
            "Brindo la bitácora de  andar en mi verdad",
            "Todo ya es aqui, obvio",
            "Lleg-Ando en verdad, la GRACIA está en el evento pronunciado y producido por ella misma."
        ],
        frases1: [ 
            "La antena humana capta el Pensamiento de la Creación.",
            "Hay un orden lógico que puede revelarse en el humano"
        ],
        frases2: [ 
            "Vibro el acceso directo a mi verdad",
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo"
        ],
        frases3: [ 
            "posibilidad potencial disponible cifra infinitud deseo vacío-fértil oculta silencio espacio disuelve inmanente gracia incognoscible la-nube insondable eterno simultáneo pregunta ignora nada olvida curiosidad oportunidad",
            "es hay funda orden pulsa unidad espíritu lógica fuente origen brilla conoce discierne respuesta universo matriz verdad emana confia raíz claridad revela implica creación existe vibra centro nuevo foco faro lugar llega fin",
            "Separa gesta fecunda conforma alma memoria resuena registra agua siente separa pantalla revestimiento vasija rompe imagen ilusión velo paradoja recuerda repite psique espeja parte ilusión descompone impronta reconoce",
            "Ambiente símbolo expande decir sentido poesía conexión lenguaje mente analogía código telepatía significa aire mapea contexto relaciona concatena media interpreta lee descifra reúne encuentro información capta cuenta",
            "Coagula ya nace función templo humano evolución tierra tránsito cristaliza entrenamiento vida forma ciclos tiempo transita constata prueba acción cuerpo completa proceso retorna recursos ocurre llega fin"
        ],
        frases4: [ 
           "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo",
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        frases5: [ 
            "Potencial - Emanación - Creación - Formación - Acción",
            "Observo un territorio holístico de creación en el que cristaliza todo lo que soy en esta antena humana que no para de resonar y vibrar.",
            "Cuento todo el rato para darme cuenta y expandirlo. La información ocurriendo completamente. Somos respuesta."
        ],
        frases6: [ 
            "Una obra, un proceso",
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        frases7: [ 
            "Dándome cuenta de mí.",
            "Afinando claridad",
            "Honor y gratitud por lo andado hasta aquí",
            "Dejo de girar y avanzo"
        ],
        galeria2: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        galeria1: [ 
            "ondas5.jpg",
            "bg2.jpg",
            "obra10.jpg",
            "bg16.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obra10.jpg",
            "obra1.jpg",
            "th-img4.jpg",
        ],
        galeria3: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const page_index = { 
        titulo: "Cuento Creación",
        subtitulo: "01234 ya! Despertando Ser/Humano",
        headings: [
            "Brindo la bitácora de andar en mi verdad",
            "Digo para que se cumpla la existencia y tenga gracia.",
            "Ver la lógica de este momento",
            "Abro mi verdad llegando a mí",
            "Percibo en  0,1,2,3 y 4",
            "Me doy cuenta de mí",
            "Yo cuento, así que me tengo en cuenta",
            "Me planto en mi verdad",
            "Lo que Soy se expande al oírse decir",
            "Me doy cuenta ...del fractal que lo vincula todo y ahora paso a paso integro coherencia en mi caminar.",
            "Brindo la bitácora de  andar en mi verdad",
            "Todo ya es aqui, obvio",
            "Lleg-Ando en verdad, la GRACIA está en el evento pronunciado y producido por ella misma."
        ],
        frases1: [ 
            "La forma de mis obras son vehículos para que la luz se pueda reflejar.",
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber",
            "Las letras hebreas me permiten expandir mi comprensión",
            "El huerto de simplemente existir"
        ],
        frases2: [ 
            "Vibro el acceso directo a mi verdad",
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo"
        ],
        frases3: [ 
            "Bajando claridad en el decir de mi ser-humano.",
            "Incorporo el aprendizaje contínuo de no saber",
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        frases4: [ 
           "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo",
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        frases5: [ 
            "Potencial - Emanación - Creación - Formación - Acción",
            "Observo un territorio holístico de creación en el que cristaliza todo lo que soy en esta antena humana que no para de resonar y vibrar.",
            "Cuento todo el rato para darme cuenta y expandirlo. La información ocurriendo completamente. Somos respuesta."
        ],
        frases6: [ 
           "Una obra, un proceso",
           "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        frases7: [ 
           "Dándome cuenta de mí.",
            "Afinando claridad",
            "Honor y gratitud por lo andado hasta aquí",
            "Dejo de girar y avanzo"
        ],
        galeria2: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        galeria1: [ 
            "bg2.jpg",
            "obra10.jpg",
            "bg16.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obra10.jpg",
            "obra1.jpg",
            "th-img4.jpg",
        ],
        galeria3: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };
-
    const data = { 
        titulo: "Cuento Creación",
        subtitulo: "01234 ya! Despertando Ser/Humano",
        sentir: "La forma de mis obras son vehículos para que la luz se pueda manifestar.",
        pensar: "Esto es lo que hay en la llave pensar",
        vision1: [ 
            "Lo cuento todo para que, lo que Es, se cumpla", 
            "El ambiente me transforma a través del símbolo",
            "Vibro el acceso directo a mi verdad",
            "Bajando claridad en el decir de mi ser-humano.",
            "La forma de mis obras son vehículos para que la luz se pueda manifestar."
        ],
        vision2: [ 
            "Me meto en el huerto de estar y quedarme...",
            "Incorporo el aprendizaje contínuo de no saber"
        ],
        vision3: [ 
            "Las letras hebreas me permiten expandir mi comprensión",
            "El código Web me abre el funcionamiento de todo"
        ],
        vision4: [ 
            "Escribo, pinto, tecleo códigos y símbolos",
            "Desarrollando en coherencia con la Creación",
            "Soy/Humano Nuevo en evolución sin fin",
            "Arte, Prototipado Web, Impresión 3D"
        ],
        vision5: [ 
            "Me expando para verme",
            "Dejo registro para clarificarme.",
            "Avanzo en coherencia paso a paso.",
            "Percibo el pensamiento de la Creación.",
            "מחשבת הבריאה"
        ],
        proceso1: [
            "Cuando yo percibo un símbolo tomo conciencia de una realidad, de un sentido que el simbolo está produciendo sobre mi. Se activa una conciencia de revelación.",
            "El producto es el proceso",
            "Hago cosas para que estén"
        ],
        proceso2: [
            "Potencial",
            "Emanación",
            "Creación",
            "Formación",
            "Acción"
        ],
        percepcion: [ 
            "logo3.svg",
            "grafico5.svg",
            "grafico1.svg",
            "grafico6.svg",
            "grafico4.svg",
            "grafico3.svg",
            "grafico2.svg",
            "pardes-alef.png",
            "bg3.png",
            "obra5.jpg"
        ],
        plastica: [ 
            "bg2.jpg",
            "detalle2.jpg",
            "bg16.jpg",
            "detalle3.jpg",
            "obra2.jpg",
            "grafico7.svg",
            "img3.jpg",
            "pieza.jpg",
            "obra6.jpg",
            "obra4.jpg",
            "obra10.jpg",
            "obra1.jpg",
            "th-img4.jpg",
        ],
        sobremi: [
            "sergiofores.jpg",
            "detalle1.jpg",
            "img1.jpg"
        ]
    };