.grid

  //- .grid-12
  //-   .card.cardInvert.tac
  //-   .contact-me
  //-     a.btn--default.btn--black.m-2(href='https://api.whatsapp.com/send?phone=+34619549032' target='_blank') whatsApp
  //-     a.btn--default.btn--black.m-2(href='https://t.me/sergiofores' target='_blank') telegram

  //- .grid-6
  //-   h2 Me gusta desarrollar, diseñar, crear ligero y fluido 
  //-   dl
  //-     dt Como desarrollador frontend (old school) estoy enamorado de:
  //-     dd Git, HTML, CSS, SASS, PUG, JS

  .grid-12
    p.tac.mt-4 Me sigo
    .followme
      include sociallinks
  
  .grid-12
    .card.tac
      small #{creditossitio} 
      small(id="fecha")

