@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
}

html {
  font-size: 20px;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 1.6rem;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

code {
  word-break: break-all;
}

/* PrismJS 1.25.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+diff+json+pug+python+scss */
code[class*=language-],
pre[class*=language-] {
  color: #ccc;
  background: 0 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1.2rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 2.428rem;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

pre[class*=language-] {
  padding: 1.6rem;
  margin: auto;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #131211;
}

:not(pre) > code[class*=language-] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.number {
  color: #fae4e5;
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #9F9FFF;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #4AECC1;
}

.token.entity,
.token.operator,
.token.url {
  color: #67cdcc;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #4AECC1;
}

body {
  color: black;
}

a {
  color: black;
}

p > a {
  color: grey;
}

blockquote {
  border: 1px solid white;
}

hr {
  background-color: grey;
}

figure figcaption {
  border-left: 0.37rem solid #fae4e5;
}

.titlePage {
  color: white;
}

.cardDark {
  color: #dad8d5;
  background-color: #131211;
}

.cardInvert {
  color: black;
  background-color: white;
}

input {
  background-color: #ffffff30;
}

input[type="text"]:active,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="submit"]:focus {
  background-color: #4AECC1;
}

::-webkit-input-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder,
input[type="date" i] {
  color: black;
}

input[type="submit"] {
  background-color: #dad8d5;
}

input[type="submit"]:hover {
  background-color: #FFFF9F;
}

input:focus {
  outline: none;
}

input:focus-visible {
  outline: 1px dotted #00000056;
  /* That'll show 'em */
}

input:checked + .switch {
  color: #fae4e5;
}

button {
  background-color: transparent;
  color: #988d86;
}

button:hover {
  color: #fae4e5;
}

@media screen and (min-width: 373px) {
  .overlay {
    background-color: #0000009e;
  }
}

.mainContent,
.mainNav {
  background-color: #dad8d5;
}

.image-slide + small {
  color: #e3e3e3;
}

/* hambutton */
.hambutton line {
  stroke: white;
}

.close:hover,
.close:focus {
  color: #4AECC1;
}

.close {
  color: #fae4e5;
}

/* TABS */
/* Tags */
.post-tag {
  color: #988d86;
}

.sectionResaltadaClara {
  background-color: #4AECC1;
  color: black;
}

.sectionResaltadaOscura {
  color: black;
}

.post-tag:hover {
  color: black;
}

.indicador-icono path {
  fill: #fae4e5;
}

.social-links path,
.social-links circle {
  fill: #131211;
}

.social-links a:hover path {
  fill: black;
}

/* Posts list */
.postlist {
  background-color: #e3e3e3;
}

.postlist-item {
  background-color: #E8E8E8;
}

.postlist-link {
  text-decoration-color: #4AECC1;
}

.postlist-link a {
  color: #FFFF9F;
}

.postlist-link:hover {
  color: #fae4e5;
  text-decoration-color: #4AECC1;
}

.nav-posts {
  background-color: #fae4e5;
}

.footer-site {
  color: black;
  background-color: #988d86;
}

.footer-site footer nav a {
  color: #988d86;
}

.footer-site footer nav a:hover {
  color: #dad8d5;
}

#gematriApp svg {
  background-color: #ffffff30;
}

#gematriApp circle {
  fill: none;
}

#gematriApp line {
  stroke: #FFFF9F;
}

svg#mapabasediez #cero,
svg#mapabasediez #uno,
svg#mapabasediez #dos,
svg#mapabasediez #tres,
svg#mapabasediez #cuatro {
  fill: #dad8d5;
}

svg#mapabasediez #cinco,
svg#mapabasediez #seis,
svg#mapabasediez #siete,
svg#mapabasediez #ocho,
svg#mapabasediez #nueve {
  fill: #988d86;
}

svg#mapabasediez #cero:hover,
svg#mapabasediez #uno:hover,
svg#mapabasediez #dos:hover,
svg#mapabasediez #tres:hover,
svg#mapabasediez #cuatro:hover,
svg#mapabasediez #cinco:hover,
svg#mapabasediez #seis:hover,
svg#mapabasediez #siete:hover,
svg#mapabasediez #ocho:hover,
svg#mapabasediez #nueve:hover {
  fill: #4AECC1;
}

svg#mapabasediez text {
  fill: black;
}

svg#mapabasediez + .descripcion p {
  background-color: #ffffff30;
}

svg#mapabasediez #adicionales {
  stroke: black;
}

.modal {
  background-color: #000000d6;
}

::-moz-selection {
  color: white;
  background: blue;
}

::selection {
  color: white;
  background: blue;
}

/* Animacion svg en cover */
#grafica {
  background-color: grey;
}

#grafica path {
  fill: #fae4e5;
}

#grafica text {
  fill: white;
}

.highlight {
  color: white;
  border: none;
}

body {
  margin: 0;
}

.mainNav {
  padding-top: 2.59rem;
}

@media screen and (min-width: 423px) {
  .mainNav {
    padding-top: inherit;
  }
}

h1 {
  margin-bottom: 2.59rem;
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 1700px) {
  h2,
  h3 {
    margin-bottom: 2.59rem;
  }
}

p,
.tmpl-post li,
img,
pre,
ul,
dl {
  max-width: 100%;
}

@media screen and (min-width: 766px) {
  p,
  .tmpl-post li,
  img,
  pre,
  ul,
  dl {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 45.5rem;
  }
}

p {
  margin-bottom: 1.6rem;
}

p > a {
  padding-bottom: 1.2rem;
}

p,
a,
ul,
dl,
p strong,
h3,
blockquote {
  padding-left: 0;
}

@media screen and (min-width: 423px) {
  p,
  a,
  ul,
  dl,
  p strong,
  h3,
  blockquote {
    padding-left: inherit;
  }
}

ul {
  margin-bottom: 0;
}

li {
  margin-bottom: 0.37rem;
}

li:last-child {
  margin-bottom: 0;
}

dl {
  padding-bottom: 1.6rem;
}

dt {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

hr {
  width: 4.1rem;
  padding: 1px;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  width: inherit;
  gap: 1.6rem;
}

figure figcaption {
  padding-left: 1.2rem;
}

.card {
  padding: 1.6rem;
  width: 100%;
}

@media screen and (min-width: 423px) {
  .card {
    padding: 2.59rem;
  }
}

.card p {
  margin-bottom: 0;
}

.cardBottom {
  margin-top: 10.7rem;
}

.card p {
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

blockquote {
  padding: 4.1rem;
  max-width: 45.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1700px) {
  blockquote {
    max-width: 73.7rem;
    margin-left: auto;
    margin-right: auto;
  }
}

button {
  padding: 1.6rem;
}

.titlePage {
  margin-top: 2.59rem;
  margin-bottom: 2.59rem;
  top: 50%;
}

@media screen and (min-width: 766px) {
  .titlePage {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-left: inherit;
    top: 45%;
  }
}

.mainContent {
  min-height: 125vh;
}

@media screen and (min-width: 373px) {
  .overlay {
    height: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.blockquote--pie {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  height: 100vh;
}

#main {
  padding: 1.6rem;
}

@media screen and (min-width: 766px) {
  .headerContent {
    height: 100vh;
  }
}

.bgImg {
  min-height: 50vw;
}

@media screen and (min-width: 423px) {
  .bgImg {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
}

.grid-12 {
  background-size: cover;
}

.section {
  min-height: 100vh;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .section {
    padding: 2.59rem;
    place-items: center;
  }
}

.grid__item {
  min-height: 100%;
}

video {
  padding-top: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  max-width: 100%;
}

@media screen and (min-width: 423px) {
  video {
    width: 50%;
  }
}

section {
  width: 100%;
}

@media screen and (min-width: 423px) {
  section {
    padding: 0;
  }
}

input {
  border-radius: 1.2rem;
  padding: 1.2rem;
}

/* Posts list */
.postlist {
  gap: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2.59rem;
}

.post-meta {
  margin-top: 1.2rem;
  margin-bottom: 4.1rem;
}

/* Web components */
model-viewer {
  width: 100%;
  height: 500px;
}

.blog:last-child {
  padding-bottom: 6.64rem;
}

.blog blockquote {
  margin-top: 2.59rem;
  margin-bottom: 2.59rem;
  padding-left: 2.59rem;
  margin-left: 2.59rem;
}

.blog pre {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 766px) {
  .blog {
    padding-left: inherit;
    padding-right: inherit;
  }
  .blog figure img {
    max-width: 75vw;
  }
}

@media screen and (min-width: 1025px) {
  .blog figure img {
    max-width: 50vw;
  }
}

.codigos-ejemplo {
  margin-top: 4.1rem;
  margin-bottom: 4.1rem;
  padding: 0 2.59rem 1.6rem;
}

.codigos-ejemplo dt {
  margin-top: 0;
  margin-bottom: 0;
}

.codigos-ejemplo dd {
  margin-left: 1.2rem;
}

@media screen and (min-width: 766px) {
  .codigos-ejemplo {
    padding: 0 2.59rem 1.6rem;
  }
}

.modal {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}

.social-links {
  gap: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.social-links svg {
  width: 1.6rem;
}

.preview {
  width: 10.7rem;
}

.image-slide {
  width: 400px;
  margin-bottom: 1.6rem;
}

.dots {
  gap: 0.61rem;
  margin-top: 1.6rem;
}

.previous {
  left: -40px;
}

.next {
  right: -40px;
}

.nav-posts {
  margin-top: 4.1rem;
  padding-right: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1.2rem;
  margin-bottom: 0;
}

.close {
  top: 1.2rem;
  right: 1.6rem;
}

.franjapie {
  padding: 1.2rem;
  min-height: 50vh;
}

svg#mapabasediez {
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

svg#mapabasediez + .descripcion {
  padding-left: 2.59rem;
  padding-right: 2.59rem;
}

svg#mapabasediez + .descripcion p {
  padding-top: 2.59rem;
  padding-bottom: 2.59rem;
  margin-bottom: 0;
}

.titlePage {
  z-index: 1;
}

#metodosvg {
  z-index: 3;
}

/* hambutton */
.hambutton {
  z-index: 2;
}

/* Nav */
@media screen and (min-width: 766px) {
  .nav {
    z-index: 3;
  }
}

svg#scrollanim {
  z-index: 1;
}

#gematriApp text {
  z-index: 2;
}

/* LOGO */
.logo {
  z-index: 2;
}

.modal {
  z-index: 1;
}

.close {
  z-index: 1;
}

/* JS - Deshabilita touch en mobil */
.deshabilitar {
  z-index: 3;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.59rem;
  letter-spacing: 2px;
  line-height: 3.2rem;
}

@media screen and (min-width: 423px) {
  h1 {
    line-height: 7.84rem;
    font-size: 6.64rem;
    z-index: 9;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    position: relative;
  }
}

h2 {
  line-height: 2.21rem;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (min-width: 423px) {
  h3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1025px) {
  h3 {
    font-size: 2.59rem;
    line-height: 3.2rem;
  }
}

h4 {
  line-height: 1.6rem;
  letter-spacing: 1px;
}

html,
p,
a,
ul,
dl,
p strong,
blockquote {
  line-height: 1.6rem;
  letter-spacing: 1px;
  word-spacing: 0.5px;
}

@media screen and (min-width: 1438px) {
  html,
  p,
  a,
  ul,
  dl,
  p strong,
  blockquote {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@media screen and (min-width: 2558px) {
  html,
  p,
  a,
  ul,
  dl,
  p strong,
  blockquote {
    font-size: 1.6rem;
    line-height: 2.59rem;
  }
}

a {
  font-weight: 500;
}

small {
  font-size: 0.61rem;
}

@media screen and (min-width: 2558px) {
  small {
    font-size: 1.6rem;
  }
}

em,
dt {
  font-weight: 500;
}

button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
}

text {
  letter-spacing: 1px;
  font-weight: bold;
  letter-spacing: 0.1px;
}

blockquote {
  font-size: 1.6rem;
  line-height: 2.59rem;
}

input {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: inherit;
}

label {
  font-size: 0.61rem;
}

ul,
ol {
  list-style-position: inside;
}

figure figcaption {
  font-size: 0.61rem;
  line-height: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.codigos-ejemplo {
  text-align: center;
}

.codigos-ejemplo dt span {
  font-weight: 700;
}

.codigos-ejemplo dd {
  font-size: 0.61rem;
  line-height: 1.5;
}

@media screen and (min-width: 766px) {
  .codigos-ejemplo {
    text-align: inherit;
  }
  .codigos-ejemplo dt {
    text-align: right;
  }
}

.titlePage {
  text-align: center;
  font-style: bold;
}

.image-slide + small {
  text-align: center;
  line-height: 1.7;
}

.close:hover,
.close:focus {
  text-decoration: none;
}

.close {
  font-size: 2.59rem;
}

.previous,
.next {
  font-weight: bold;
  font-size: 1.6rem;
}

/* TABS */
.tablink {
  font-size: 17px;
}

/* Tags */
.post-tag {
  text-transform: uppercase;
  font-size: 0.61rem;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  font-weight: 700;
  line-height: 1.6rem;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 5px;
}

.postlist-link h3 {
  line-height: inherit;
}

.subTitlePage {
  font-size: 1.6rem;
  text-align: center;
}

@media screen and (min-width: 766px) {
  .subTitlePage {
    font-size: inherit;
  }
}

.postlist-item-active .postlist-link {
  font-weight: 400;
}

.post-meta {
  text-align: center;
}

.footer-site {
  font-weight: 500;
}

.footer-site .contact-me {
  text-align: center;
}

.footer-site__item p {
  text-align: center;
}

.footer-site footer nav a {
  text-decoration: none;
}

.footer-site .followme {
  text-align: center;
}

.nav-posts li a {
  text-align: center;
  text-decoration: none;
}

.nav-posts li a::before {
  font-size: 4.1rem;
  line-height: 1;
}

/* ANIMACIONES */
@-webkit-keyframes parpadea {
  50% {
    color: blue;
  }
}
@keyframes parpadea {
  50% {
    color: blue;
  }
}

@-webkit-keyframes dash {
  50% {
    stroke-dashoffset: 100px;
    stroke-width: 1px;
  }
}

@keyframes dash {
  50% {
    stroke-dashoffset: 100px;
    stroke-width: 1px;
  }
}

@-webkit-keyframes dash2 {
  50% {
    stroke-dashoffset: 540px;
  }
}

@keyframes dash2 {
  50% {
    stroke-dashoffset: 540px;
  }
}

@-webkit-keyframes escalar {
  50% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes escalar {
  50% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@-webkit-keyframes animcover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 700% 200%;
            transform-origin: 700% 200%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@keyframes animcover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 700% 200%;
            transform-origin: 700% 200%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@-webkit-keyframes animcover__infla {
  50% {
    -webkit-transform: scale(14.7);
            transform: scale(14.7);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}

@keyframes animcover__infla {
  50% {
    -webkit-transform: scale(14.7);
            transform: scale(14.7);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: scale(4) perspective(50vw) rotateY(10deg);
            transform: scale(4) perspective(50vw) rotateY(10deg);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.4) perspective(100vw) rotateY(50deg);
            transform: scale(1.4) perspective(100vw) rotateY(50deg);
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: scale(4) perspective(50vw) rotateY(10deg);
            transform: scale(4) perspective(50vw) rotateY(10deg);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.4) perspective(100vw) rotateY(50deg);
            transform: scale(1.4) perspective(100vw) rotateY(50deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-amarillo {
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes spin-amarillo {
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@-webkit-keyframes spin-rojo {
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes spin-rojo {
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@-webkit-keyframes spin-lila {
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes spin-lila {
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes spin-verde {
  50% {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}

@keyframes spin-verde {
  50% {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}

.btn--white {
  color: #988d86;
  border: 1px solid #988d86;
}

.btn--white:hover {
  color: black;
}

.btn--black {
  color: black;
  border: 2px solid black;
}

.btn--black:hover {
  background-color: black;
  border: 2px solid black;
}

.btn--default {
  padding: 0.99rem 1.6rem;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.btn--default:hover {
  color: black;
  background-color: #4AECC1;
  border-color: #4AECC1;
}

.btn--primary {
  text-decoration: none;
  padding: 1.6rem 2.59rem;
  background-color: transparent;
  margin: 0;
}

.btn--primary:hover {
  background-color: #fae4e5;
  border-color: #fae4e5;
}

.btn--slider:hover {
  color: black;
}

.fade-page-off {
  opacity: 0;
}

.fade-page-off.fade-page-on {
  opacity: 1;
  background-color: black;
  -webkit-transition: all 20s ease-out;
  transition: all 20s ease-out;
}

#preloader {
  padding: 1.6rem;
  -webkit-animation: parpadeo .4s linear infinite;
          animation: parpadeo .4s linear infinite;
  opacity: 0;
}

.animintro circle {
  stroke: white;
  stroke-width: 1px;
  fill: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.grid--gap-1 {
  gap: 1em;
}

.grid--gap-2 {
  gap: 2em;
}

.grid--gap-3 {
  gap: 3em;
}

.grid--gap-4 {
  gap: 4em;
}

.grid-1 {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}

.grid-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.grid-3 {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.grid-4 {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.grid-5 {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}

.grid-6 {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}

.grid-7 {
  -ms-grid-column-span: 7;
  grid-column: span 7;
}

.grid-8 {
  -ms-grid-column-span: 8;
  grid-column: span 8;
}

.grid-9 {
  -ms-grid-column-span: 9;
  grid-column: span 9;
}

.grid-10 {
  -ms-grid-column-span: 10;
  grid-column: span 10;
}

.grid-11 {
  -ms-grid-column-span: 11;
  grid-column: span 11;
}

.grid-12 {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

@media only screen and (min-width: 423px) {
  .grid-xs-1 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .grid-xs-2 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .grid-xs-3 {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .grid-xs-4 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .grid-xs-5 {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .grid-xs-6 {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .grid-xs-7 {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .grid-xs-8 {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid-xs-9 {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }
  .grid-xs-10 {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
  .grid-xs-11 {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }
  .grid-xs-12 {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}

@media screen and (min-width: 766px) {
  .grid-md-1 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .grid-md-2 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .grid-md-3 {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .grid-md-4 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .grid-md-5 {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .grid-md-6 {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .grid-md-7 {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .grid-md-8 {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid-md-9 {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }
  .grid-md-10 {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
  .grid-md-11 {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }
  .grid-md-12 {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}

@media (min-width: 1025px) {
  .grid-lg-1 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .grid-lg-2 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .grid-lg-3 {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .grid-lg-4 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .grid-lg-5 {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .grid-lg-6 {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .grid-lg-7 {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .grid-lg-8 {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid-lg-9 {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }
  .grid-lg-10 {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
  .grid-lg-11 {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }
  .grid-lg-12 {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}

@media (min-width: 1438px) {
  .grid-xl-1 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .grid-xl-2 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .grid-xl-3 {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .grid-xl-4 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .grid-xl-5 {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .grid-xl-6 {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
  .grid-xl-7 {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }
  .grid-xl-8 {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }
  .grid-xl-9 {
    -ms-grid-column-span: 9;
    grid-column: span 9;
  }
  .grid-xl-10 {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
  .grid-xl-11 {
    -ms-grid-column-span: 11;
    grid-column: span 11;
  }
  .grid-xl-12 {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }
}

.grid--0, .grid--img {
  gap: 0px;
}

.grid--1 {
  gap: 1.6rem;
}

.grid--img {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  background-position: center;
  background-size: cover;
}

.grid--img .grid__item {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Global stylesheet */
#main {
  -webkit-transition: margin-left .3s;
  transition: margin-left .3s;
}

.mainContent {
  overflow: hidden;
}

.headerContent {
  position: relative;
  display: -ms-grid;
  display: grid;
}

.bgImg {
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: luminosity;
  background-size: contain;
  -webkit-transition: -webkit-clip-path 1s;
  transition: -webkit-clip-path 1s;
  transition: clip-path 1s;
  transition: clip-path 1s, -webkit-clip-path 1s;
}

body {
  overflow-x: hidden;
}

.section-videogallery {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

figure {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section {
  position: relative;
}

.section--video {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "video" "texto";
  text-align: center;
  margin-bottom: 4.1rem;
  gap: 2.59rem;
}

.titlePage {
  position: absolute;
  width: 100%;
  margin-top: 0;
}

.blockquote--pie {
  display: -ms-grid;
  display: grid;
  border-left: none;
  place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  border: none;
}

.footer-site {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.footer-site .contact-me {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.franjapie {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

text {
  stroke: none;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
}

input[type="date" i] {
  display: -webkit-inline-flex;
  -webkit-padding-start: 1.2rem;
          padding-inline-start: 1.2rem;
  overflow: hidden;
}

.form-group {
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 1.6rem;
  padding-top: 2.59rem;
  padding-left: 2.59rem;
  padding-right: 2.59rem;
}

@media screen and (min-width: 766px) {
  .form-group {
    padding-top: inherit;
    -ms-grid-columns: 1fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr 0.5fr;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media screen and (min-width: 1025px) {
  .form-group {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    place-content: center;
  }
}

.form-group input {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 0.61rem;
  width: 100%;
}

.form-group__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type="submit"]:hover {
  cursor: pointer;
}

svg.grafica {
  width: 100%;
  height: 50vh;
  background-color: #E8E8E8;
}

svg.grafica g {
  fill: none;
  stroke: black;
  -webkit-transform: scale(2);
          transform: scale(2);
}

svg.grafica path {
  fill: #FFFF9F;
  stroke-width: 5px;
  stroke-dashoffset: 50px;
  stroke-dasharray: 540px;
  -webkit-animation: dash2;
          animation: dash2;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  stroke: #fae4e5;
}

svg.grafica rect {
  fill: #4AECC1;
}

svg.grafica text {
  fill: black;
  font-size: 2px;
}

@media screen and (min-width: 373px) {
  .overlay {
    display: block;
    position: absolute;
  }
}

.output {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  opacity: 0;
  position: absolute;
  color: #fae4e5;
  -webkit-transform: scale(3) rotate(-30deg);
          transform: scale(3) rotate(-30deg);
  background-color: #FFFF9F;
}

.output.resultado {
  color: inherit;
  opacity: 1;
  -webkit-transition: background-color 3s, opacity 3s, color 6s, -webkit-transform 2s;
  transition: background-color 3s, opacity 3s, color 6s, -webkit-transform 2s;
  transition: background-color 3s, opacity 3s, color 6s, transform 2s;
  transition: background-color 3s, opacity 3s, color 6s, transform 2s, -webkit-transform 2s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: translate(1.6rem, 1.6rem) scale(1) rotate(0deg);
          transform: translate(1.6rem, 1.6rem) scale(1) rotate(0deg);
  background-color: transparent;
}

.output.resultado h2 {
  padding: 0;
}

@media screen and (min-width: 373px) {
  .codigos-ejemplo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 766px) {
  .codigos-ejemplo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1438px) {
  .codigos-ejemplo {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 423px) {
  .card {
    -ms-grid-column-align: start;
        justify-self: start;
    background-size: cover;
  }
}

.card p {
  margin-right: auto;
  margin-left: auto;
}

.menu3d {
  display: -ms-grid;
  display: grid;
  padding-bottom: 1.2rem;
  gap: 0.61rem;
  -ms-grid-columns: 1fr 0.61rem 1fr;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
}

#icono-switcher {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  width: 30px;
  -ms-grid-column-align: end;
      justify-self: end;
}

#icono-switcher.indicador-icono {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.switch {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 0.61rem;
  font-weight: 700;
}

.switch:hover {
  cursor: pointer;
  color: #fae4e5;
}

.deshabilitar {
  -ms-touch-action: auto !important;
      touch-action: auto !important;
}

/* LOGO */
.logo {
  width: 2.59rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  top: calc($size-3 - $size-1);
  left: calc($size-3 - $size-1);
  position: fixed;
  mix-blend-mode: difference;
}

.logo circle {
  stroke: grey;
  stroke-width: 1px;
  fill: none;
}

.logo:hover {
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.logo2 {
  width: 6.64rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 9999999;
  mix-blend-mode: darken;
}

@media screen and (min-width: 423px) {
  .logo2 {
    position: absolute;
    top: 5vw;
    right: 5vw;
  }
}

@media screen and (min-width: 1025px) {
  .logo2 {
    position: fixed;
  }
}

.logo2 circle {
  stroke: black;
  stroke-width: 3px;
  fill: none;
}

.logo2 text {
  fill: none;
  stroke: black;
  stroke-width: 6px;
}

.logo2 path {
  fill: white;
  stroke-width: 6px;
}

.logo2:hover {
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.social-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.lienzo {
  position: relative;
  background-color: #988d86;
}

.contact-me {
  -ms-grid-columns: 1fr 0.61rem 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.61rem;
}

.highlight-line {
  display: block;
  text-decoration: none;
}

.highlight-line:empty:before {
  content: " ";
}

.highlight-line + br {
  display: none;
}

/* Posts list */
.postlist {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
}

.postlist-item {
  display: -ms-grid;
  display: grid;
  gap: 1.2rem;
  place-items: start;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  counter-increment: start-from -1;
  padding: 1.2rem;
  margin-bottom: 0px;
}

/* Meta */
.wrap-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.2rem;
}

/* Tags */
.post-tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  border-radius: 0.25em;
}

.postlist-item > .post-tag {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* JS - Deshabilita touch en mobil */
.deshabilitar {
  -ms-touch-action: auto !important;
      touch-action: auto !important;
}

.modal {
  display: none;
  position: fixed;
  overflow: auto;
}

.modal-content {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding: 0 0 0 0;
  width: 80%;
}

/* TABS */
.tablink {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 25%;
}

/* Style the tab content */
.tabcontent {
  color: black;
  display: none;
  padding: 50px;
  text-align: center;
}

/* ACCORDION */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.nav-posts li a {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.nav-posts li:nth-child(1) a::before {
  content: "←";
}

.nav-posts li:nth-child(2) a::before {
  content: "→";
}

.txt-wrap {
  display: block;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

svg#mapafin {
  width: 100%;
  min-height: 50vh;
}

svg#mapabasediez {
  transform-box: fill-box;
}

svg#mapabasediez #cero,
svg#mapabasediez #uno,
svg#mapabasediez #dos,
svg#mapabasediez #tres,
svg#mapabasediez #cuatro,
svg#mapabasediez #cinco,
svg#mapabasediez #seis,
svg#mapabasediez #siete,
svg#mapabasediez #ocho,
svg#mapabasediez #nueve {
  stroke: none;
}

svg#mapabasediez #cero:hover,
svg#mapabasediez #uno:hover,
svg#mapabasediez #dos:hover,
svg#mapabasediez #tres:hover,
svg#mapabasediez #cuatro:hover,
svg#mapabasediez #cinco:hover,
svg#mapabasediez #seis:hover,
svg#mapabasediez #siete:hover,
svg#mapabasediez #ocho:hover,
svg#mapabasediez #nueve:hover {
  cursor: help;
}

svg#mapabasediez text {
  font-size: 0.37rem;
  -webkit-transform: translate(-0.32em, 0.35em);
          transform: translate(-0.32em, 0.35em);
}

svg#mapabasediez + .descripcion p {
  display: none;
  text-align: center;
  -webkit-transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s;
  transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s;
}

/* MEDIAQUERIES */
@media screen and (min-width: 318px) {
  #metodosvg g {
    stroke-width: 1px;
    stroke: black;
    -webkit-transform: translateX(15px) translateY(-6px) scale(2.3);
            transform: translateX(15px) translateY(-6px) scale(2.3);
  }
  #metodosvg circle {
    fill: none;
    cursor: pointer;
  }
  /* ACTIVE */
  #metodosvg #cero.txt--active {
    -webkit-transform: scale(3) translate(0px, -15px);
            transform: scale(3) translate(0px, -15px);
    -webkit-animation: parpadeo .5s linear 1;
            animation: parpadeo .5s linear 1;
  }
  #metodosvg #uno.txt--active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  #metodosvg #dos.txt--active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  #metodosvg #tres.txt--active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  #metodosvg #cuatro.txt--active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  #metodosvg .txt--active:hover {
    cursor: default;
  }
  #metodosvg #cero.txt--active,
  #metodosvg #uno.txt--active,
  #metodosvg #dos.txt--active,
  #metodosvg #tres.txt--active,
  #metodosvg #cuatro.txt--active {
    mix-blend-mode: overlay;
    -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #metodosvg #cero {
    fill: #131211;
  }
  #metodosvg #uno {
    fill: #4AECC1;
  }
  #metodosvg #dos {
    fill: #fae4e5;
  }
  #metodosvg #tres {
    fill: #9F9FFF;
  }
  #metodosvg #cuatro {
    fill: #FFFF9F;
  }
  #metodosvg #siete,
  #metodosvg #ocho,
  #metodosvg #nueve,
  #metodosvg #cinco,
  #metodosvg #seis {
    fill: #dad8d5;
  }
  svg#scrollanim #cinco,
  svg#scrollanim #seis,
  svg#scrollanim #siete,
  svg#scrollanim #ocho,
  svg#scrollanim #nueve {
    fill: #dad8d5;
  }
  svg#scrollanim #cero,
  svg#scrollanim #uno,
  svg#scrollanim #dos,
  svg#scrollanim #tres,
  svg#scrollanim #cuatro {
    fill: white;
  }
  svg#scrollanim text {
    pointer-events: none;
    font-size: 0.37rem;
  }
  svg#scrollanim #adicionales path,
  svg#scrollanim #adicionales circle {
    stroke: black;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 1.6rem;
  }
  .gallery__item {
    text-align: center;
  }
}

@media screen and (min-width: 766px) {
  .section--video {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "video texto";
    place-items: center;
    background-color: #e3e3e3;
    padding-right: 2.59rem;
  }
  .section--video :nth-child(1) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: texto;
  }
  .section--video :nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: video;
  }
  @media screen and (min-width: 766px){
  .section--video :nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
  }
  .section--video :nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }
  }
  /* Post navigation */
  .nav-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1700px) {
  .gallery {
    gap: 4.1rem;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    padding: 6.64rem;
  }
}

/* Animacion svg en cover */
#grafica circle {
  stroke: none;
}

#grafica path {
  fill-opacity: 0.8;
  transform-box: fill-box;
}

#grafica text {
  stroke: none;
  font-size: 0.61rem;
  font-weight: 500;
}

#gematriApp .result {
  font-size: 1.2rem;
}

#gematriApp .result--anim {
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: scale(2);
          transform: scale(2);
}

#gematriApp text {
  font-size: 0.61rem;
}

#animcover {
  border-radius: 50%;
  overflow: hidden;
  width: 450px;
  height: 450px;
  border: 1px solid #4AECC1;
}

#animcover circle:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

#animcover circle:active {
  fill-opacity: 0.8;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#animcover circle:nth-child(1) {
  fill: #fae4e5;
  stroke: black;
}

#animcover circle:nth-child(2) {
  fill: #4AECC1;
  stroke: black;
}

#animcover circle:nth-child(3) {
  fill: #9F9FFF;
  stroke: black;
}

#animcover circle:nth-child(4) {
  fill: #FFFF9F;
  stroke: black;
}

#animcover circle:nth-child(5) {
  fill: black;
}

#animcover circle:nth-child(6) {
  fill: black;
}

#animcover circle:nth-child(7) {
  fill: black;
}

#animcover circle:nth-child(8) {
  fill: black;
}

#animcover circle:nth-child(9) {
  fill: black;
}

#animcover circle:nth-child(10) {
  fill: black;
}

.chartContainer {
  background-color: #fae4e5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bar {
  padding: 10px;
  fill: #FFFF9F;
}

#coversvg {
  position: relative;
}

#coversvg g {
  stroke-width: 0.5px;
  stroke: black;
  -webkit-transform: translateX(10%) translateY(-10%) scale(2.4);
          transform: translateX(10%) translateY(-10%) scale(2.4);
}

#coversvg g circle {
  fill: none;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-box: fill-box;
}

/* punteros */
#coversvg #cinco + .puntero,
#coversvg #seis + .puntero {
  fill: #E8E8E8;
}

#coversvg #uno,
#coversvg #dos,
#coversvg #tres,
#coversvg #cuatro {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  stroke: none;
}

#coversvg #uno {
  fill: #4AECC1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#coversvg #dos {
  fill: #fae4e5;
}

#coversvg #tres {
  fill: #9F9FFF;
}

#coversvg #cuatro {
  fill: #FFFF9F;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: animcover__infla;
          animation-name: animcover__infla;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  position: relative;
}

#cuatro::before {
  content: "4";
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 300px;
}

#coversvg #satelite {
  fill: none;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: animcover;
          animation-name: animcover;
  -webkit-transition: all 0.3 cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3 cubic-bezier(0.075, 0.82, 0.165, 1);
}

#coversvg #cero {
  fill: black;
  stroke: none;
}

#coversvg #update {
  stroke: #dad8d5;
  stroke-dasharray: 10%;
  -webkit-animation: dash 10s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
          animation: dash 10s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  stroke-width: 3px;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* SIDE NAV */
.sidenav {
  display: inherit;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #131211;
  overflow-x: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-top: 6.64rem;
}

.sidenav li {
  list-style: none;
  text-align: center;
}

.sidenav a {
  padding: 1.6rem 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  mix-blend-mode: difference;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1.2rem;
  font-size: 2.59rem;
}

/* Nav */
.nav {
  display: none;
}

.nav a {
  text-decoration: none;
  padding: 0.61rem 1.2rem;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-left: 1.2rem;
}

.nav-item a {
  text-decoration: none;
  color: #dad8d5;
}

.nav-item-active a {
  color: black;
  background-color: white;
}

/* hambutton */
.hambutton {
  display: block;
  display: none;
  position: fixed;
  top: 1.2rem;
  left: 85vw;
  width: 2.59rem;
  mix-blend-mode: difference;
}

.hambutton:hover {
  cursor: pointer;
}

.hambutton line {
  stroke-width: 4px;
}

@media screen and (min-width: 766px) {
  .hambutton {
    display: none;
  }
}

.nomargin {
  margin: 0px;
}

.aligselftop {
  -ms-grid-row-align: start;
  -ms-grid-column-align: start;
  place-self: start;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.p-0 {
  padding: 0;
}

.p-3 {
  padding: 2.59rem;
}

.p-4 {
  padding: 4.1rem;
}

.p-5 {
  padding: 6.64rem;
}

.pt-2 {
  padding-top: 1.6rem;
}

.pt-3 {
  padding-top: 2.59rem;
}

.pl-2 {
  padding-left: 1.6rem;
}

.pr-2 {
  padding-right: 1.6rem;
}

.pr-3 {
  padding-right: 2.59rem;
}

.pr-4 {
  padding-right: 4.1rem;
}

.pl-4 {
  padding-left: 4.1rem;
}

.pb-1 {
  padding-bottom: 1.2rem;
}

.pb-3 {
  padding-bottom: 2.59rem;
}

.pb-4 {
  padding-bottom: 4.1rem;
}

.pt-1 {
  padding-top: 1.2rem;
}

.pt-4 {
  padding-top: 4.1rem;
}

.pt-5 {
  padding-top: 6.64rem;
}

.m-2 {
  margin: 1.6rem;
}

.m-4 {
  margin: 4.1rem;
}

.mb-3 {
  margin-bottom: 2.59rem;
}

.mb-4 {
  margin-bottom: 4.1rem;
}

.mt-4 {
  margin-top: 4.1rem;
}

.vh100 {
  min-height: 100vh;
}

.vw100 {
  width: 100vw;
}

.vh50 {
  min-height: 50vh;
}

.maxw-50 {
  max-width: 50vw;
}

.dg {
  display: -ms-grid;
  display: grid;
}

.pic {
  place-items: center;
}

.color-primary {
  color: #fae4e5;
}

.color-secondary {
  color: #4AECC1;
}

.color-tertiary {
  color: #9F9FFF;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-grey {
  color: grey;
}

.color-grey-0 {
  color: #E8E8E8;
}

.color-grey-1 {
  color: #e3e3e3;
}

.color-grey-2 {
  color: #dad8d5;
}

.color-grey-3 {
  color: #988d86;
}

.bgcolor-primary {
  background-color: #fae4e5;
}

.bgcolor-secondary {
  background-color: #4AECC1;
}

.bgcolor-tertiary {
  background-color: #9F9FFF;
}

.bgcolor-black {
  background-color: black;
}

.bgcolor-white {
  background-color: white;
}

.bgcolor-grey {
  background-color: grey;
}

.bgcolor-grey-0 {
  background-color: #E8E8E8;
}

.bgcolor-grey-1 {
  background-color: #e3e3e3;
}

.bgcolor-grey-2 {
  background-color: #dad8d5;
}

.bgcolor-grey-3 {
  background-color: #988d86;
}

.bgcolor-alpha-0 {
  background-color: #ffffff30;
}

.bgcolor-alpha-1 {
  background-color: #ffffff77;
}

mark {
  background: inherit;
  border-bottom: 3px solid black;
}

.avoid-clicks {
  pointer-events: none;
}

.tachado {
  text-decoration: line-through;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 2px;
  text-decoration-color: #fae4e5;
}

.rounded {
  border-radius: 50%;
}

.placeself {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}

.img--fl {
  float: left;
  margin-right: 2.59rem;
}

.img--fr {
  float: right;
  margin-left: 2.59rem;
}

.img--25vw {
  max-width: 25vw;
}

.img--50vw {
  max-width: 50vw;
}

.img--100vw {
  max-width: 100vw;
}

.minheight {
  min-height: 400px;
}

@media screen and (min-width: 766px) {
  .minheight {
    min-height: 50vh;
  }
}

.roundedr {
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}

.roundedl {
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
}

@media screen and (min-width: 766px) {
  .animContainer {
    padding-left: 6.64rem;
    padding-right: 6.64rem;
  }
}

.slider--container {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "slides slides" "prev next";
}

@media screen and (min-width: 423px) {
  .slider--container {
    -ms-grid-columns: .1fr 10fr .1fr;
    grid-template-columns: .1fr 10fr .1fr;
        grid-template-areas: "prev slides next";
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.61rem;
    margin-bottom: 0.61rem;
  }
}

.slider--container div {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: slides;
}

.slider--container:nth-last-child(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: next;
  -ms-grid-row-align: end;
      align-self: end;
}

.slider--container:nth-last-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: prev;
  -ms-grid-row-align: start;
      align-self: start;
}

@media screen and (min-width: 423px){
  .slider--container div {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .slider--container:nth-last-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .slider--container:nth-last-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

.container {
  position: relative;
  min-height: 100%;
}

@media screen and (min-width: 423px) {
  .container {
    width: 100vw;
  }
}

[title~="covertitle"] {
  margin-left: 1.6rem;
}

@media screen and (min-width: 1025px) {
  [title~="covertitle"] h1 {
    top: 18vh;
    right: 18vh;
    -webkit-transform-origin: right;
            transform-origin: right;
    text-align: right;
    width: 100vw;
    margin-right: 10.7rem;
    -webkit-animation: intro;
            animation: intro;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

[title~="coverimg"] img {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

@media screen and (min-width: 1025px) {
  [title~="coverimg"] {
    position: absolute;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(1.5) perspective(50vh) rotateY(30deg);
            transform: scale(1.5) perspective(50vh) rotateY(30deg);
    top: 0;
    left: 0%;
  }
  [title~="coverimg"] img {
    border-top-left-radius: 50%;
  }
}

@media screen and (min-width: 423px) {
  [title~="sintesis"] {
    top: 30px;
  }
}

@media screen and (min-width: 1025px) {
  [title~="sintesis"] {
    position: absolute;
    top: 80vh;
    right: 7vw;
    margin-bottom: 17.3rem;
  }
  [title~="sintesis"] h2 {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale(1.9) perspective(50vh) rotateY(-30deg);
            transform: scale(1.9) perspective(50vh) rotateY(-30deg);
    text-align: right;
  }
}

@media screen and (min-width: 423px) {
  [title~="obvio"] {
    top: 36%;
    right: 13%;
  }
}

@media screen and (min-width: 423px) {
  [title~="proceso"] {
    top: 55.8%;
    right: 8%;
  }
}

@media screen and (min-width: 423px) {
  [title~="plastica"] {
    top: 50%;
    left: 4%;
  }
  [title~="plastica"] .bgImg {
    border-radius: 50%;
  }
}

@media screen and (min-width: 423px) {
  [title~="video"] {
    top: 64%;
    left: 30%;
  }
  [title~="video"] video {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
    display: block;
    width: 60vh;
  }
}

@media screen and (min-width: 1025px) {
  [title~="video"] video {
    width: 44vw;
  }
}

@media screen and (min-width: 423px) {
  [title~="yocuento"] {
    top: 75%;
  }
}

@media screen and (min-width: 1025px) {
  [title~="yocuento"] {
    top: 72%;
    left: 44%;
  }
}

@media screen and (min-width: 423px) {
  [title~="elsersiendo"] {
    top: 84.6%;
    left: 12%;
  }
}

@media screen and (min-width: 423px) {
  [title~="sociallinks"] {
    bottom: 1.5%;
    left: 7%;
  }
}
/*# sourceMappingURL=style.css.map */