// Colores

// $primary-color: #FF6874;
$primary-color: #e2777a;
// $secondary-color: #7ec699;
// $secondary-color: #2BC4A9;
$secondary-color: #4AECC1;
$tertiary-color: #9F9FFF;
$quaternary-color: #FFFF9F;
$black-color: black;
$white-color: white;
$grey-color: grey;
$grey-color-0: #E8E8E8;
$grey-color-1: #dad9d9;
$grey-color-2: #c0c0c0;
$grey-color-3: #6f6f6f;
$grey-color-4: #2e2e2e;
$grey-color-5: #323232;
$white-color-alpha-0: #ffffff30;
$white-color-alpha-1: #ffffff77;
$black-color-alpha-0: #00000056;
$black-color-alpha-1: #0000009e;
$black-color-alpha-2: #000000d6;

$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$size--1: 0.37rem;
$size-0: 0.61rem;
$size-1: 1rem;
$size-2: 1.6rem;
$size-3: 2.59rem;
$size-4: 4.1rem;
$size-5: 6.64rem;
$size-6: 10.7rem;
$size-7: 17.3rem;
$size-8: 28rem;
$size-9: 45.5rem;
$size-10: 73.7rem;

$bp0: 318px;
$bp1: 373px;
$bp2: 423px;
$bp3: 766px;
$bp4: 1022px;
$bp5: 1438px;
$bp6: 2558px;

$mainff: 'Montserrat', Arial, Helvetica, sans-serif;

$baselineheight: $size-3 - 0.162;
$bodytextcolor: $grey-color-1;
