.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: var(--space-sm);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    mix-blend-mode: exclusion;
    color: white;
    pointer-events: none; /* Para evitar problemas con el blend mode */
}

.name {
    margin: 0;
    font-size: var(--text-base);
    letter-spacing: var(--letter-spacing-sm);
}

.socialLink {
    color: white;
    transition: opacity 0.3s ease;
    opacity: 0.7;
    display: flex;
    align-items: center;
    pointer-events: auto; /* Reactivar los eventos para el enlace */
}

.socialLink:hover {
    opacity: 1;
}

.socialLink svg {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    /* fill: currentColor; */
    filter: invert(1); /* Asegurar que el SVG se invierta */
}

.socialLink:hover svg {
    transform: scale(1.1);
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.social p {
    margin: 0;
    font-size: 0.875rem;
    opacity: 0.7;
}

.copyright {
    font-size: 0.75rem;
    opacity: 0.5;
}

.copyright p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        padding: 1rem;
        align-items: center;
        text-align: center;
    }

    .social {
        align-items: center;
    }
}
