:root {
    /* Colores */
    --background: #cfcfcf;
    --foreground: rgb(0, 0, 0);
    --accent: #8f8f8f;
    --accent-light: #c8e2c2;
    --muted: rgb(127, 127, 127);
    --title-gradient-from: rgb(0, 0, 0);
    --title-gradient-to: rgb(128, 128, 128);
    --whatsapp: #25D366;
    --alert: #ea384c;

    /* Espaciado */
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
    --space-6: 3rem;

    /* Grid */
    --container-width: 1000px;
    --grid-columns: 12;
    --grid-gap: 2rem;
}

/* Reset y estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "features features features"
        "projects projects projects"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.hero {
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.features-grid {
    grid-area: features;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.feature {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.projects-grid {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-section {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0 0 20px 0;
    text-align: center;
}

.image-container {
    margin-bottom: 10px;
}

.project-image {
    width: 100%;
    height: auto;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.whatsapp-button svg {
    fill: white;
}

.custom-alert {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #ffcc00;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

footer {
    grid-area: footer;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: 
            "header"
            "features"
            "projects"
            "footer";
        grid-template-columns: 1fr;
    }

    .features-grid, .projects-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) {
    .hero {
        height: 40vh; /* Ajuste para ocupar el 50% de la altura de la ventana en pantallas grandes */
        align-content: space-evenly;
    }
}