head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="./sass/style.scss")
    link(rel='icon' type='image/png' href='./img/favicon.png')
    meta(charset='utf-8')
    meta(name='description' content='Todo desde cero')
    meta(name='author' content='Sergio Fores')
    meta(name='keywords' content='Art, Holistic, Creacion, Design, 3D printing, Process, HTML, CSS, JavaScript, Crisis, Bloqueo, Creativo, Multidimensional, Arte, Analogia, Hermeneutica, Mapas, Tecnología')
