footer.footer-site.section

  .footer-site__item
    header
      h3 Si sabes contar... no cuentes conmigo +0+1234

    main
      p.
        Mi aportación para ti sólo podría producirse por resonancia, es decir, que te suceda algo de la misma naturaleza que lo que me sucede a mi. Mi único propósito vital es encajar en mi propia frecuencia, con mis aprendizajes, mis experiencias, mis descubrimientos, nada más. No tengo que, ni debo de ayudar, enseñar o sanar a otros. Eso podría producirse de un modo "indirecto", por inducción, por resonancia vincular... pero hasta que eso pase (o NO pase) yo seguiré en mi lugar como modelo y guia de mi mismo. Mi tarea es revelar luz y coherencia con mi propio ejemplo.
      p.
        Tengo la garganta definida, de modo que no voy a poder evitar responder si me envias un mensaje:

    .contact-me
      a.btn--default.btn--black.m-2(href='https://api.whatsapp.com/send?phone=+34619549032' target='_blank') whatsApp
      a.btn--default.btn--black.m-2(href='https://t.me/sergiofores' target='_blank') telegram

.franjapie
  .followme
    p Uso las redes como cuaderno de bitácora personal y para establecer vinculos interesantes:
      include sociallinks
  p.subTitle Este sitio web está vivo y, como yo, en permanente proceso de transmutación, creación y destrucción.
