footer.footer-site.section

  .footer-site__item
    header
      h3 +0+1234 La existencia se compone de 4 cosas que son 5. Descubrirlas dió un vuelco a mi vida.

    main
      p.
        Mi aportación a los demás sólo podría producirse por resonancia, es decir, que te suceda algo de la misma naturaleza que lo que me sucede a mi. Mi único propósito vital es encajar en mi propia frecuencia, con mis aprendizajes, mis experiencias, mis descubrimientos, nada más. No pretendo ayudar, enseñar o sanar a otros, pero eso podría producirse de un modo "indirecto", por inducción, por resonancia vincular... Si ocurriera sería genial y si no ocurre también. 
      p.
        Tengo la garganta definida, de modo que no voy a poder evitar responder si me envias un mensaje:

    .contact-me
      a.btn--default.btn--black.m-2(href='https://api.whatsapp.com/send?phone=+34619549032' target='_blank') whatsApp
      a.btn--default.btn--black.m-2(href='https://t.me/sergiofores' target='_blank') telegram

.franjapie
  .followme
    p Uso las redes como cuaderno de bitácora personal:
      include sociallinks
  p.subTitle Este sitio web está vivo y, como yo, en permanente proceso de transmutación, creación y destrucción.
