footer.grid-12
  //- .card.cardInvert.tac
  //-   header
  //-     h1 Todo lo que existe se reduce a +0+1234

    //- main
    //-   p.
    //-     No voy a poder evitar responder si me envias un mensaje:
    
    //- .contact-me
    //-   a.btn--default.btn--black.m-2(href='https://api.whatsapp.com/send?phone=+34619549032' target='_blank') whatsApp
    //-   a.btn--default.btn--black.m-2(href='https://t.me/sergiofores' target='_blank') telegram

    footer
      //- h2 Me gusta desarrollar, diseñar, crear ligero y fluido 
      //- dl
      //-   dt Como desarrollador frontend (old school) estoy enamorado de:
      //-   dd Git, HTML, CSS, SASS, PUG, JS

.franjapie
  .followme
    p.tac Sergio Forés
      include sociallinks
