footer.grid-12
  .card.cardInvert.tac
    header
      h3 +0+1234 La existencia se compone de 4 cosas que son 5. Descubrirlas dió un vuelco a mi vida.

    main
      p.
        No voy a poder evitar responder si me envias un mensaje:
    
    .contact-me
      a.btn--default.btn--black.m-2(href='https://api.whatsapp.com/send?phone=+34619549032' target='_blank') whatsApp
      a.btn--default.btn--black.m-2(href='https://t.me/sergiofores' target='_blank') telegram

    footer
      h2 Me gusta desarrollar, diseñar y crear ligero y fluido 
      dl
        dt Como desarrollador frontend (old school) estoy enamorado de:
        dd Git, HTML, CSS, SASS, PUG, JS

.franjapie
  .followme
    p.tac Postureo
      include sociallinks
