h1 Mi propósito
h3 Decodificando la ilusión!
p Exteriorizo una nueva perspectiva trascendente que no es “ni sólo materialista no sólo espiritual”. A través del simple proceso de vivir la vida, puedo servir de modelo de lo que es ser unicamente yo mismo, en vez de ser definido por la naturaleza del mundo que me rodea.

h1 ¿Cómo?
p Mi propia bioquimica emocional me tira por tierra toda la iluminación en la que estaba.

h1 Historia 
p Soy un camaleón, a veces me pongo el disfraz de diseñador, otras de artista plástico, impresor 3D, desarrollador web, investigador... más de 40 años tratando de combinar mi verdadero ser con algo que pueda encajar en este mundo y sus paradigmas, hasta que descubrí que vengo con una identidad sin definir. Mi naturaleza implica tomar diversas direcciones vitales, puedo jugar a identificarme con diferentes cosas y ninguna a la vez. Hay personas que, al final de sus vidas, se van al tibet a trabajar su desidentificación con el personaje que creyeron ser, digamos que yo no tengo ese problema. Vine y seguramente me marcharé de este mundo desidentificado, pero mientras dure esta partida juego con ganas, me implico y disfruto del viaje.
p Si pudiésemos llamarlo un superpoder, el mío sería el de enfocarme en una cosa, observarla muy de cerca y, desde ahí extraer el fractal lógico que la conecta con todo lo demás. Me encanta dialogar de cuestiones filosóficas y profundas en ambientes frescos y tranquilos. Dispongo de una mente acústica y abstracta, me llegan comprensiones elevadas tras darle muchas vueltas a las cosas (siempre con el Wifi encendido), y luego les doy un nombre, las organizo y trato de que coagulen en mi microrealidad en coherencia interna.

p Tras una gran crisis existencial, en lo más profundo de mi ola emocional conecté con mi espíritu. Desde entonces profundicé en el estudio de mi mismo desde diferentes perspectivas como la astrología, la cabalá, el hermetismo, la logica global convergente etc... para tratar de vehicular, gestionar e integrar toda la información en bruto que no paraba de sintonizar. El arbol de la vida personal me reveló mucha información sobre. Pero cuando el diseño humano llegó a mi vida me di cuenta de mi unicidad, mi especificidad, mi particularidad, mi diferenciación.

p Ahora ya no tengo interés por encajar en ninguna parte, ningún rol, ninguna profesión, ni siquiera ofrecer ningún servicio. Lo único que tengo para compartir es mi experiencia espiritual y mi sabiduría interna, mi único objetivo es ser un ejemplo para mi mismo y barrer mi propia casa respondiendo a aquello que resuena conmigo con la mayor coherencia de que soy capaz.