//- extends includes/base.pug

//- block append head
//-     title #{sitename} - Sergio Forés, arte, desarrollo web y conciencia holistica
//-     meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

.mainNav
  include brand
  include navbar
  include sidenav
  include hambutton.svg

main#maincontent.mainContent
  block pageheader 

    header.headerContent
      h1.titlePage Sergio Forés Raga
      .bgImg.animCrop(style="background-image: url('../img/arte3d.jpeg');")

    section.grid
      .grid-12
        .card.vh100
          h1 <mark>Descifro la Matriz</mark> e imprimo mis meditaciones en cosas.
          p.tac Me meto en el huerto de SER.
          .bgImg.animCrop2(style="background-image: url('../img/bg2.png');")

      .grid-12
        .card
          h1 Observante de la <mark>Mística Judía</mark> y letras hebreas.

      .grid-12
        .card
          ul 
            li Trato de actualizar mi propio potencial.
            li Mi único propósito aquí en el mundo es vivir mi frecuencia en coherencia.
            li Soy curioso, apasionado y me meto en huertos.

    section.grid
      .grid-12
        svg#scrollanim(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 101 66')
          g#adicionales(fill='none' fill-rule='evenodd')
            circle#grande2(cx='35.25' cy='31.919' r='28.228' vector-effect='non-scaling-stroke')
            circle#grande1(cx='63.491' cy='31.919' r='28.228' vector-effect='non-scaling-stroke')
            g(transform='translate(7.05 7.057)')
              path#Path(d='M71.021 49.575c-8.677-4.813-14.597-14.082-14.597-24.714 0-10.743 6.023-20.094 14.852-24.861M13.365 0c8.83 4.767 14.853 14.118 14.853 24.861 0 10.673-5.921 19.977-14.7 24.77' vector-effect='non-scaling-stroke')
              circle(cx='14.111' cy='24.864' r='14.111' vector-effect='non-scaling-stroke')
              circle(cx='70.546' cy='24.864' r='14.111' vector-effect='non-scaling-stroke')
              circle(cx='42.325' cy='24.864' r='14.111' vector-effect='non-scaling-stroke')
              circle(cx='7.059' cy='24.859' r='7.056' vector-effect='non-scaling-stroke')
              circle(cx='63.497' cy='24.859' r='7.056' vector-effect='non-scaling-stroke')
              circle(cx='35.273' cy='24.859' r='7.056' vector-effect='non-scaling-stroke')
              circle(cx='21.173' cy='24.859' r='7.056' vector-effect='non-scaling-stroke')
              circle(cx='77.608' cy='24.859' r='7.056' vector-effect='non-scaling-stroke')
              circle(cx='49.384' cy='24.859' r='7.056' vector-effect='non-scaling-stroke')
          g#botones(fill-rule='evenodd')
            circle#cero(cx='7.056' cy='31.8' r='7.056' vector-effect='non-scaling-stroke')
            text(x='7.056' y='31.8') 0
            circle#uno(cx='91.739' cy='31.8' r='7.056' vector-effect='non-scaling-stroke')
            text(x='91.739' y='31.8') 4
            circle#dos(cx='77.601' cy='56.631' r='7.056' vector-effect='non-scaling-stroke')
            text(x='77.601' y='56.631') 2
            circle#tres(cx='77.601' cy='7.056' r='7.056' vector-effect='non-scaling-stroke')
            text(x='77.601' y='7.056') 3
            circle#cuatro(cx='63.491' cy='31.8' r='7.056' vector-effect='non-scaling-stroke')
            text(x='63.491' y='31.8') 1

      .grid-12
        .card.tac
          p +0+1234.
          p Observo un territorio por el que se coagula mi experiencia de lo espiritual en el mundo. Encontré el fractal que lo vincula todo y ahora trato de integrarlo, bajarlo en lo biológico para sanarme, para aprender, para estar alineado con la fuente que me originó.

          //- a.btn--default.btn--black(href="./lab.pug") descubre +0+1234

    section.grid.animContainer

      article.grid-12.grid-lg-6.grid--img.animItem(style="background-image: url('../img/pieza.jpg');")

      article.grid-12.grid-lg-6.card.cardInvert
        p Trato de mantenerme vacío
        //- a.btn--default.btn--black(href="obra.pug") obra plástica

      article.grid-6.grid--img.animItem(style="background-image: url('/img/bg9.jpg');")

      article.grid-6.grid--img.animItem(style="background-image: url('../img/sergiofores.jpg');")

      //- article.card.cardDark.animItem 
        //- p Realizo ipsum, dolor sit amet consectetur adipisicing elit. Consectetur at explicabo aliquid accusamus voluptatem nesciunt architecto iusto suscipit optio! Ratione nam autem eius eveniet doloribus fugit perferendis cum repudiandae quibusdam!
        //- a.btn--default.btn--white(href="obra.pug") obra plástica

      //- article.card.cardDark.animItem 
        //- p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur at explicabo aliquid accusamus voluptatem nesciunt architecto iusto suscipit optio! Ratione nam autem eius eveniet doloribus fugit perferendis cum repudiandae quibusdam!
        //- a.btn--default.btn--white(href="obra.pug") obra plástica

      article.grid-12.grid-md-6.animItem(style="background-image: url('../img/img3.jpg');")

      article.grid-12.grid-md-6.card.cardDark
        p Cabalá y caligrafía letras hebreas.
        //- a(class="btn--default  btn--white" href="sobremi.pug") sobre mí

    footer.blockquote--pie(style="background-image: url('../img/bg3.jpg');")
      blockquote.highlight.
        &ldquo;... y cuando el Todo hubo comenzado a ordenarse, todos los elementos recibieron de Dios sus figuras por acción de las ideas y de los números.&rdquo; <br> &mdash; Platón

#footer 
  include footer