//- extends includes/base.pug

//- block append head
//-     title #{sitename} - Sergio Forés, arte, desarrollo web y conciencia holistica
//-     meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

.mainNav
  include brand
  include navbar
  include sidenav
  include hambutton.svg

main#maincontent.mainContent
  block pageheader

  div.container
    .draggable <mark>Escribo, pinto, tecleo códigos y símbolos </mark>
    .draggable
      h1.animeintro Cuento la Creación
    .draggable.bgImg(style="background-image: url('../img/bg2.png');")
    .draggable
      .card
        p.animeintro Arte, Prototipado Web, Impresión 3D
    .draggable 
      .card 
        p.animeintro Desarrollo mi Ser/Humano en coherencia con la Creación
    .draggable
      .card 
        p.animeintro Evolución sin fin
    .draggable.bgImg(title="Pieza 3D" style="background-image: url('../img/fangw.jpg');")
    .draggable.bgImg(style="background-image: url('../img/bg1.png');")
    .draggable.bgImg( title="Mapa de la creación con letras hebreas" style="background-image: url('../img/bg3.png');")

    .draggable
      .card
        h3 Me doy cuenta de mí <br> percibiendo <mark> 0,1,2,3 y 4</mark>

    .draggable
      .card
        h3 <mark>Yo cuento</mark> en el transitar.
        ul 
          li Me expando para verme
          li Dejo registro para clarificarme.
          li Percibo el pensamiento de la Creación (מחשבת הבריאה).
          li Avanzo en coherencia paso a paso.
          li Hago cosas para que estén
          li La vida son cuatro cosas (que son cinco)

    .draggable
      .card
        h3 Me planto en mi  <mark>verdad </mark>
        p Cuento todo el rato para darme cuenta y expandirlo. La información ocurriendo completamente. Somos respuesta.
    
    .draggable
      .card
        p Observo un territorio holístico de creación en el que cristaliza todo lo que soy en esta antena humana que no para de resonar y vibrar. 
        p Me di cuenta del fractal que lo vincula todo y ahora paso a paso integro coherencia en mi caminar.
        br
        ul 
          li Alumno eterno
          li Bebo té a raudales
          li Dejo de girar y avanzo
    
    .draggable.bgImg(style="background-image: url('../img/img1.jpg');")
    .draggable.bgImg(title="hola" style="background-image: url('../img/sergiofores.jpg');")
    .draggable.bgImg(style="background-image: url('../img/pieza.jpg');")

    .draggable
      .card
        h3 El proceso <mark>Es:</mark>
        ul 
          li Potencial
          li Emanación
          li Creación
          li Formación
          li Acción

    .draggable
      .card
        ul 
          li Lo cuento todo para que, lo que Es, se cumpla
          li El ambiente me transforma a través del símbolo
          li Vibro el acceso directo a mi verdad
          li Bajando claridad en el decir de mi ser-humano.
          li Me meto en el huerto de estar y quedarme...
          li Incorporo el aprendizaje contínuo de no saber

    .draggable
      video#video1(poster='./img/bg1.jpg' controls='false' loop='true')
        source(src='./img/introweb.mp4' type='video/mp4')
        | Your browser does not support the video tag.   
    footer.draggable 
      .card
        include footer
</div>
