//- extends includes/base.pug

//- block append head
//-     title #{sitename} - Sergio Forés, arte, desarrollo web y conciencia holistica
//-     meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

.mainNav
  include brand
  include navbar
  include sidenav
  include hambutton.svg

main#maincontent.mainContent
  block pageheader
  .container
    .draggable
      h1.animeintro Cuento la Creación
    .draggable 
      .card
        h3 Llego a mí
        mark Escribo, pinto, tecleo códigos y símbolos
    .draggable 
      .slider3.bgImg(style="background-image: url('../img/bg16.jpg');")
      .slider3.bgImg(style="background-image: url('../img/pieza.jpg');")
      button(onclick='plusDivs(-1, 2)') &#x276E;
      button(onclick='plusDivs(1, 2)') &#x276F;
    .draggable
      .card
        p.animeintro Arte, Prototipado Web, Impresión 3D
    .draggable 
      .card 
        p.animeintro Desarrollando en coherencia con la Creación
    .draggable
      .card 
        p.animeintro Soy/Humano Nuevo en evolución sin fin

    .draggable.bgImg(style="background-image: url('../img/bg3.png');")

    .draggable
      .slider1.bgImg(style="background-image: url('../img/fangw.jpg');")
      .slider1.bgImg(style="background-image: url('../img/bg2.png');")
      .slider1.bgImg(style="background-image: url('../img/bg4.jpg');")
      .slider1.bgImg(style="background-image: url('../img/bg3.png');")
      button(onclick='plusDivs(-1, 0)') &#x276E;
      button(onclick='plusDivs(1, 0)') &#x276F;

    .draggable
      .card
        .slider2
          h3 Todo Ya És, aquí. <mark>Obvio!</mark>
          ul 
            li Lo cuento todo para que, lo que Es, se cumpla
            li El ambiente me transforma a través del símbolo
            li Vibro el acceso directo a mi verdad
            li Bajando claridad en el decir de mi ser-humano.
        .slider2
          h3 Me doy <mark> cuenta</mark> de mí
          ul 
            li Me meto en el huerto de estar y quedarme...
            li Incorporo el aprendizaje contínuo de no saber
        .slider2
          h3 Percibo en <mark> 0,1,2,3 y 4</mark>
          ul 
            li Las letras hebreas me permiten expandir mi comprensión
            li El código Web me abre el funcionamiento de todo
        button(onclick='plusDivs(-1, 1)') &#x276E;
        button(onclick=`plusDivs(1, 1)`) &#x276F;

    .draggable
      img(src="../img/pardes-alef.png")

    .draggable
      .card
        h3 <mark>Yo cuento</mark> en el transitar.
        ul 
          li Me expando para verme
          li Dejo registro para clarificarme.
          li Percibo el pensamiento de la Creación (מחשבת הבריאה).
          li Avanzo en coherencia paso a paso.
          li Hago cosas para que estén
          li La vida son cuatro cosas (que son cinco)

    .draggable
      .card
        h3 Me planto en mi  <mark>verdad</mark>
        p Cuento todo el rato para darme cuenta y expandirlo. La información ocurriendo completamente. Somos respuesta.
    
    .draggable
      .card
        .slider4
          h3 Soy <mark>el ser</mark> siendo
          p Observo un territorio holístico de creación en el que cristaliza todo lo que soy en esta antena humana que no para de resonar y vibrar.
        .slider4
          h3 Alumno <mark>eterno</mark>
          ul 
            li Honor y gratitud por lo andado hasta aquí
            li Dejo de girar y avanzo
        .slider4
          h3 Me <mark>doy cuenta</mark>
          | ...del fractal que lo vincula todo y ahora paso a paso integro coherencia en mi caminar.
        button(onclick='plusDivs(-1, 3)') &#x276E;
        button(onclick='plusDivs(1, 3)') &#x276F;
      
    .draggable.bgImg(style="background-image: url('../img/arte3d.jpeg');")
    .draggable.bgImg(title="hola" style="background-image: url('../img/sergiofores.jpg');")
    .draggable.bgImg(style="background-image: url('../img/pieza.jpg');")

    .draggable
      .card
        h3 El proceso <mark>Es:</mark>
        ul 
          li Potencial
          li Emanación
          li Creación
          li Formación
          li Acción

    .draggable
      video#video1(poster='./img/bg1.jpg' controls='false' loop='true')
        source(src='./img/introweb.mp4' type='video/mp4')
        | Your browser does not support the video tag.  

    footer.draggable 
      .card
        include footer
</div>

block append scripts
  script( src="./js/slider.js")
  //- script( src="./scripts/videoplayer.js")
  //- script( type="module", src="./scripts/anims.js")
  //- script( type="module", src="./scripts/animaciones/animitem.js")
  //- script( type="module", src="./scripts/animaciones/animtitle.js")