//- extends includes/base.pug

//- block append head
//-     title #{sitename} - Sergio Forés, arte, desarrollo web y conciencia holistica
//-     meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

.mainNav
  include brand
  include navbar
  include sidenav
  include hambutton.svg

main#maincontent.mainContent
  block pageheader
  .container
    .draggable 
      .card
        h3 Llego a mí
        mark Escribo, pinto, tecleo códigos y símbolos
    .draggable
      h1.animeintro Cuento la Creación
    .draggable 
      .w3-content.w3-display-container
        img.mySlides3(src='../img/bg16.jpg')
        img.mySlides3(src='../img/bg1.jpg')
        .mySlides3.card
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eligendi voluptate expedita animi, ab molestiae recusandae inventore quisquam ipsam nam quibusdam, temporibus perferendis doloremque, dolorem nobis repellendus quos laudantium dolores!
        button.w3-button.w3-black.w3-display-left(onclick='plusDivs(-1, 2)') &#x276E;
        button.w3-button.w3-black.w3-display-right(onclick='plusDivs(1, 2)') &#x276F;
    .draggable
      .card
        p.animeintro Arte, Prototipado Web, Impresión 3D
    .draggable 
      .card 
        p.animeintro Desarrollando en coherencia con la Creación
    .draggable
      .card 
        p.animeintro Soy/Humano Nuevo en evolución sin fin
    .draggable.bgImg(style="background-image: url('../img/bg3.png');")
    .draggable 
      .w3-content.w3-display-container
        img.mySlides1(src='../img/fangw.jpg')
        img.mySlides1(src='../img/bg2.png')
        img.mySlides1(src='../img/bg4.jpg')
        img.mySlides1(src='../img/bg3.png')
        button.w3-button.w3-black.w3-display-left(onclick='plusDivs(-1, 0)') &#x276E;
        button.w3-button.w3-black.w3-display-right(onclick='plusDivs(1, 0)') &#x276F;
    .draggable 
      .w3-content.w3-display-container
        img.mySlides2(src='../img/bg2.png')
        img.mySlides2(src='../img/bg3.png')
        .mySlides2.card
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eligendi voluptate expedita animi, ab molestiae recusandae inventore quisquam ipsam nam quibusdam, temporibus perferendis doloremque, dolorem nobis repellendus quos laudantium dolores!
        button.w3-button.w3-black.w3-display-left(onclick='plusDivs(-1, 1)') &#x276E;
        button.w3-button.w3-black.w3-display-right(onclick=`plusDivs(1, 1)`) &#x276F;

    .draggable
      .card
        h3 Me doy cuenta de mí <br> percibiendo <mark> 0,1,2,3 y 4</mark>

    .draggable
      .card
        .parent 
          .slides 
            .element
              h3 <mark>Yo cuento</mark> en el transitar.
            .element
              ul 
                li Me expando para verme
                li Dejo registro para clarificarme.
                li Percibo el pensamiento de la Creación (מחשבת הבריאה).
                li Avanzo en coherencia paso a paso.
                li Hago cosas para que estén
                li La vida son cuatro cosas (que son cinco)

    .draggable
      .card
        h3 Me planto en mi  <mark>verdad</mark>
        p Cuento todo el rato para darme cuenta y expandirlo. La información ocurriendo completamente. Somos respuesta.
    
    .draggable
      h3 Soy <mark>el ser</mark> siendo
      .card
        p Observo un territorio holístico de creación en el que cristaliza todo lo que soy en esta antena humana que no para de resonar y vibrar. 
        p Me di cuenta del fractal que lo vincula todo y ahora paso a paso integro coherencia en mi caminar.
        br
        ul 
          li Alumno eterno
          li Honor y gratitud por lo andado hasta aquí
          li Dejo de girar y avanzo
        .flecha
          button &gt;
    .draggable.bgImg(style="background-image: url('../img/arte3d.jpeg');")
    .draggable.bgImg(title="hola" style="background-image: url('../img/sergiofores.jpg');")
    .draggable.bgImg(style="background-image: url('../img/pieza.jpg');")

    .draggable
      .card
        h3 El proceso <mark>Es:</mark>
        ul 
          li Potencial
          li Emanación
          li Creación
          li Formación
          li Acción

    .draggable
      .card
        h3 Todo Ya És, aquí. <mark>Obvio!</mark>
        ul 
          li Lo cuento todo para que, lo que Es, se cumpla
          li El ambiente me transforma a través del símbolo
          li Vibro el acceso directo a mi verdad
          li Bajando claridad en el decir de mi ser-humano.
          li Me meto en el huerto de estar y quedarme...
          li Incorporo el aprendizaje contínuo de no saber
          li Las letras hebreas me permiten expandir mi comprensión
          li El código Web me abre el funcionamiento de todo

    .draggable
      video#video1(poster='./img/bg1.jpg' controls='false' loop='true')
        source(src='./img/introweb.mp4' type='video/mp4')
        | Your browser does not support the video tag.   
    footer.draggable 
      .card
        include footer
</div>

//- block append scripts
//-   script( src="./scripts/slider.js")
  //- script( src="./scripts/videoplayer.js")
  //- script( type="module", src="./scripts/anims.js")
  //- script( type="module", src="./scripts/animaciones/animitem.js")
  //- script( type="module", src="./scripts/animaciones/animtitle.js")