extends includes/base.pug

//- block append head
//-   title #{sitename} - Laboratorio
//-   meta(name="description" content="Creando aplicaciones para traducir numeros y letras a frecuencias, para ver la lógica creativa de este momento")

//-   - let current = "Lab";

//- block content      
//-   header.headerContent
//-     h1.titlePage +0+1234, 
//-       span.subTitlePage <mark>una herramienta viva para descifrar realidad y verle la lógica a este momento</mark>
//-     .bgImg.animCrop(style="background-image: url('./img/bg17.jpg');")

//-   .tac
//-     include includes/mapabasediez.svg
//-     .descripcion 

//-   .section.grid
//-     .grid-12
//-       include includes/mapafin.svg
//-     .grid-12
//-       h2 Escuchar lo idéntico en lo diferente
//-       p Lo que tengo para aportar es una vivencia revelada de la matriz a partir de la cual se puede destilar una percepción más refinada y profunda la Creación. +0+1234 revela y desvela a través del discernimiento de los códigos universales, bandas de frecuencias o dimensiones en que se despliega el proceso de cualquier Creación. <br> El proyecto consta de tres niveles de exploración; uno íntimo/vivencial, otro conceptual/teórico y otro que se practica en el contexto por medio de una herramienta para desencriptar.

//-   include includes/app.pug

//-   footer.blockquote--pie(style="background-image: url('./img/bg6.jpg');")
//-     blockquote.highlight.
//-       &ldquo;Sólo cuando bajamos al abismo recuperamos los auténticos tesoros de la vida.&rdquo; <br> &mdash; Joseph Campbell
  
//- block append scripts
//-   script( type="module", src="./scripts/anims.js")
//-   script( type="module", src="./scripts/animaciones/animtitle.js")
    
