extends includes/baseblog

block append head
  title #{sitename} - Lavadora y procesadora de ideas
  meta(name="description" content="En ocasiones escribo cosas sobre arte, visión holística, crisis creativa, desarrollo de procesos creativos, etc")

  - let current = "Escritos";

block pageheader  
  header.headerContent
    h1.titlePage Artículos: 
      span.subTitlePage "en ocasiones escribo cosas"
    .section.section--cover.bgImg.animCrop(style="background-image: url('./img/bg8.png');")
