extends includes/base.pug

block append head
  title #{sitename} - Sergio Forés, arte, desarrollo web y conciencia holistica
  meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

block content
  - var thispage = '/'
  header.headerContent
    .section.section--cover.bgImg(style="background-image: url('./img/bg14.jpg');")
      h1.titlePage--home.
        descifrar la Creación <br> para encontrArte <span id="typewritter">desde cero</span>

  //- include includes/cover.pug

  //- canvas.modelo3d
  //- #grafica

  //- include includes/features.pug
  section.grid.grid--img
    img.section(src='./img/1234.svg' alt='')
    .section 
      p Observo un Mapa Universal del proceso de toda la Creación. Facilito a artistas, diseñadores y buscadores un método sencillo para descifrar, desbloquear y trascender el vacío existencial y los bloqueos creativos.
      a.btn--white.btn--default.btn--primary(href="lab.pug") Descubre +0+1234
  
  section.grid.grid--img
    article.grid__item(style="background-image: url('./img/bg10.jpg');")
    article.section.card
      p Realizo esculturas plásticas que son símbolos vivos de lo sagrado, y sobre las cuales la luz revela corrientes de formas que cristalizan en el tiempo.
      a(class="btn--default  btn--black" href="obra.pug") obra plástica
    article.grid__item(style="background-image: url('./img/bg9.jpg');")
    article.grid__item(style="background-image: url('./img/bg2.jpg');")

  section.grid.grid--img.color-black(style="background-image: url('./img/bg1.jpg');")
    article.section.card.cardBottom
      p Durante mi trayectoria laboral desde 1999 me he movido en distintos mundos: prototipando interfaces de usuario, creando temas en Wordpress, maquetando aplicaciones web, revistas, identidad corporativa, etc. todo esto me ha dado un poso técnico de conocimientos que he terminado vinculando a cuestiones vocacionales, artísticas y holísticas.
      a(class="btn--default  btn--black" href="sobremi.pug") sobre mí

  section.grid.grid--img
    article.section.card(style="background-image: url('./img/bg7.jpg');")
    article.section.card(style="background-image: url('./img/bg6.jpg');")
  
  footer.blockquote--pie.bgImg(style="background-image: url('./img/bg13.jpg');")
    blockquote.highlight.
      &ldquo;... y cuando el Todo hubo comenzado a ordenarse, todos los elementos recibieron de Dios sus figuras por acción de las ideas y de los números.&rdquo; <br> &mdash; Platón

block append scripts
  //- script(src="./scripts/grafica.js", type="module")
  //- script(src="./scripts/modelo3d.js", type="module")
  script(src="./scripts/gsapanims.js", type="module")
