extends includes/base.pug

block append head
  title #{sitename} - Sergio Forés, arte, desarrollo web y conciencia holistica
  meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

block content
  - var thispage = '/'
  header.headerContent
    include includes/cover.pug
  
  include includes/features.pug
  
  footer.blockquote--pie(style="background-image: url('./img/bg2.jpg');")
    blockquote.
      &ldquo;... y cuando el Todo hubo comenzado a ordenarse, todos los elementos recibieron de Dios sus figuras por acción de las ideas y de los números.&rdquo; <br> &mdash; Platón

  block append scripts
    //- script(src="./scripts/animintro.js", type="module")
