extends includes/base.pug

block append head
  title #{sitename} - Sergio Forés, arte, desarrollo web y conciencia holistica
  meta(name="description" content="Aporto una perspectiva multidimensional, transdisciplinar y holistica de la Creación para encontrarnos a nosotros mismos en el contexto desde el vacío.")

block content
  - var thispage = '/'
  header.headerContent
    include includes/cover.pug

  //- canvas.modelo3d
  //- #grafica

  include includes/features.pug
  
  section.grid.grid--img
    article.grid__item(style="background-image: url('./img/bg11.jpg');")
    article.grid__item(style="background-image: url('./img/bg2.jpg');")
    article.grid__item(style="background-image: url('./img/bg9.jpg');")
    article.grid__item(style="background-image: url('./img/bg10.jpg');")

  section.grid.grid--img.color-black(style="background-image: url('./img/bg1.jpg');")
    article.section.card
      p Somos vibración
      p Me interesa el proceso de lo abstracto cristalizando en la forma y cómo la totalidad de la existencia se materializa de una manera coherente.
      a(class="btn--default  btn--black" href="#") obra plástica

  section.grid.grid--img
    article.bgImg(style="background-image: url('./img/bg7.jpg');")
    article.bgImg(style="background-image: url('./img/bg6.jpg');")
  
  footer.blockquote--pie.bgImg(style="background-image: url('./img/bg13.jpg');")
    blockquote.highlight.
      &ldquo;... y cuando el Todo hubo comenzado a ordenarse, todos los elementos recibieron de Dios sus figuras por acción de las ideas y de los números.&rdquo; <br> &mdash; Platón

block append scripts
  //- script(src="./scripts/grafica.js", type="module")
  //- script(src="./scripts/modelo3d.js", type="module")
  script(src="./scripts/gsapanims.js", type="module")
