extends includes/base.pug

block head
  title #{sitename} - Home
  meta(name="description" content="Arte, visión holística, crisis creativa, desarrollo de procesos creativos, etc")

block content
  header.headerContent
    include includes/cover.pug
  
  include includes/features.pug
  
  footer.blockquote--pie(style="background-image: url('./img/bg2.jpg');")
    span.overlay
      blockquote.
        &ldquo;... y cuando el Todo hubo comenzado a ordenarse, todos los elementos recibieron de Dios sus figuras por acción de las ideas y de los números.&rdquo; <br> &mdash; Platón

  block append scripts
    //- script(src="./scripts/animintro.js", type="module")
