extends includes/base.pug

block append head
  title #{sitename} - Laboratorio
  meta(name="description" content="Creando aplicaciones para traducir numeros y letras a frecuencias, para ver la lógica creativa de este momento")

  - let current = "Lab";

block content
  header.pt-4
    h1.titlePage.
      GematriApp
    p.subTitlePage.
      Una aplicación escrita en Javascript puro para ver la lógica de este momento y graficar sus frecuencias.

  include includes/app.pug

  footer.blockquote--pie(style="background-image: url('./img/bg6.jpg');")
    blockquote.highlight.
      &ldquo;Sólo cuando bajamos al abismo recuperamos los auténticos tesoros de la vida.&rdquo; <br> &mdash; Joseph Campbell
  
  block append scripts
    
